{% extends 'dashboard/base_template.html' %}
{% block custom_css %}
{% block page_title %}
{% endblock page_title %}
<style>
    .custom-error {
        max-width: 300px;
        margin: 0 auto;
        text-align: center;
    }

    .input-group-text {
        cursor: pointer;
    }

    .grey-card {
        background-color: LightGray;
    }

    .negative-padding {
        margin-top: -60px;
    }
</style>
{% endblock custom_css %}

{% block main_content %}
<div class="page-wrapper" style="min-height: 434px;">
    <div class="content container-fluid">
        <div class="page-header">
            <div class="row">
                <div class="col-sm-12">
                    <h3 class="page-title"> <a href="{% url 'expense_advice_list_View' %}"
                            style="margin-right: 10px;"><i class="fa fa-arrow-left" data-bs-toggle="tooltip" title=""
                                data-bs-original-title="Back" aria-label="fa fa-arrow-left"></i></a> Add Expense Advice </h3>
                    <ul class="breadcrumb">
                        <li class="breadcrumb-item"><a href="index.html">Dashboard</a></li>
                        <li class="breadcrumb-item"><a href="estimates.html">Estimate</a></li>
                        <li class="breadcrumb-item active">Add Estimate</li>
                    </ul>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-md-12">
                <div class="card" data-select2-id="9">
                    <div class="card-body" data-select2-id="8">
                        <form class="paym" method="post" id="expense_advice_form" data-select2-id="7" autocomplete="off">
                            {% csrf_token %}
                            <div class="row" data-select2-id="6">
                                <div class="col-md-2">
                                    <div class="form-group">
                                        <label for="customer_Name_id">Deposit To</label>
                                        <input type="hidden" id="customer_id" name="customer_id">
                                        <select class="form-select" name="customer_Name_id" id="customer_Name_id" required>
                                            <option value="" selected hidden disabled>Select Vendor</option>
                                            {% for i in vendor_data %}
                                            <option value="{{i.id}}">{{i.company_name}}</option>
                                            {% endfor %}
                                        </select> 
                                    </div>
                                </div>
                                <div class="col-md-2">
                                    <div class="form-group">
                                        <label style="color:#f00">Vendor</label>
                                        <select class="form-select" name="customer" id="customer" required>
                                            <option value="" selected disabled hidden>Select Vendor</option>
                                            {% for i in vendor_data %}
                                            <option value="{{i.id}}">{{i.company_name}}</option>
                                            {% endfor %}
                                        </select>
                                    </div>
                                </div>
                                <div class="col-md-2">
                                    <div class="form-group"> 
                                        <label style="color:#f00">Date</label>
                                        <div> 
                                            <input class="form-control datetimepicker" type="text" name="date" id="date" required>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-md-2">
                                    <div class="form-group"> 
                                        <label>Payment Mode</label>
                                        <div>
                                            <select class="form-select" name="payment_mode" id="payment_mode">
                                                <option value="Cash">Cash</option>
                                                <option value="Cheque">Cheque</option>
                                                <option value="Credit Card">Credit Card</option>
                                                <option value="Bank Transfer">Bank Transfer</option>
                                                <option value="Others">Others</option>
                                                <option value="Online">Online</option>
                                            </select>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-md-2">
                                    <div class="form-group"> 
                                        <label>Mobile</label>
                                        <div>    
                                            <input type="text" class="form-control" name="mobile" id="mob_no" placeholder="Mobile" pattern="\d{10}" title="Enter a 10-digit number">
                                            <span id="mobileError" style="color: red;"></span>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-md-2">
                                    <div class="form-group"> 
                                        <label>PO No</label>
                                        <div> 
                                            <input class="form-control" type="text" name="ea_po_no" id="ea_po_no" placeholder="PO Number" autocomplete="off">
                                        </div>
                                    </div>
                                </div>
                                <div class="col-md-2">
                                    <div class="form-group"> 
                                        <label>Is Balance Only? </label>
                                        <div> 
                                            <input type="checkbox" name="balance" id="balance"> 
                                        </div>
                                    </div>
                                </div>
                                <div class="col-md-2">
                                    <div class="form-group">
                                        <label style="color:#f00"> Amount</label>
                                        <input class="form-control" type="text" name="amount" id="amount" readonly="">
                                    </div>
                                </div>
                                <div class="col-md-2">
                                    <div class="form-group">
                                        <label>Expense Advice No</label>
                                        <div> 
                                            <input class="form-control" type="text" name="paymentreceiptno" value="{{new_expense_advice_no}}" id="paymentreceiptno" placeholder="Expense Advice No" readonly>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-md-2">
                                    <div class="form-group">
                                        <label>Advice No</label>
                                        <div> 
                                            <input class="form-control" type="text" name="ea_advice_no" id="ea_advice_no" placeholder="Advice No">
                                        </div>
                                    </div>
                                </div>
                                <div class="col-md-2">
                                    <div class="form-group">
                                        <label>Bank Charges (If any) </label>
                                        <input type="text" name="bank_charges" id="bank_charges" class="form-control">
                                    </div>
                                </div>
                                <div class="col-md-2 cheque_no" style="display: none;">
                                    <div class="form-group">
                                        <label>DD/Cheque No </label>
                                        <input type="text" name="cheque_no" id="cheque_no" class="form-control">
                                    </div>
                                </div>
                                <div class="col-md-2 cheque_date" style="display: none;">
                                    <div class="form-group">
                                        <label>DD/Cheque Date</label>
                                        <input class="form-control datetimepicker" type="text" name="cheque_date" id="cheque_date" placeholder="Enter Date">
                                    </div>
                                </div>
                                <div class="col-md-2">
                                    <div class="form-group">
                                        <label>Reference# </label>
                                        <div>
                                            <input class="form-control" type="text" name="reference" id="reference">
                                        </div>
                                    </div>
                                </div> 
                            </div>
                            <hr>
                            <input name="row_count" id="existing_row_count" value="0" hidden>
                            <div class="col-lg-12 pt11">
                                <div class="table-responsive">
                                    <table class="table table-hover mb-0">
                                        <thead>
                                            <tr>
                                                <th>Date</th>
                                                <th>Vendor</th>
                                                <th>Invoice Number</th>
                                                <th>Invoice Amount</th>
                                                <th>Due Amount </th>
                                                <th>Payment</th>
                                            </tr>
                                        </thead>
                                        <tbody id="show_tmp_data">
                                        </tbody>
                                    </table>
                                    <div class="nobi">
                                        <!-- <h3>There is no Bill Applied For this payment</h3> -->
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="row">
                                        <div class="col-lg-12">
                                            <hr>
                                        </div>
                                        <div class="col-lg-7 col-md-6 pt11">
                                            <div class="invoice-fields">
                                                <h4 class="field-title">T&amp;C Note...</h4> 
                                                <textarea class="form-control" name="note" id="note"></textarea>
                                            </div>
                                        </div>
                                        <div class="col-lg-5 col-md-6 pt11">
                                            <div class="invoice-total-card">
                                                <div class="invoice-total-box">
                                                    <div class="invoice-total-inner">
                                                        <div class="row">
                                                            <div class="col-lg-6">
                                                                <p>Total </p>
                                                            </div>
                                                            <div class="col-lg-6 ">
                                                                <input type="text" class="utrt1" name="total" id="total" readonly="">
                                                            </div>
                                                        </div>
                                                        <div class="row">
                                                            <div class="col-lg-6">
                                                                <p>Amount Paid</p>
                                                            </div>
                                                            <div class="col-lg-6 ">
                                                                <input type="text" class="utrt1" name="amount_received" id="amount_received" readonly="">
                                                            </div>
                                                        </div>
                                                        <div class="row">
                                                            <div class="col-lg-6">
                                                                <p>Amount Used For Payments</p>
                                                            </div>
                                                            <div class="col-lg-6 ">
                                                                <input class="utrt1" type="text" name="amount_used" id="amount_used">
                                                            </div>
                                                        </div>
                                                        <div class="invoice-total-footer">
                                                            <h4>Amount in excess
                                                                <input class="utrt1" type="text" name="amount_excess" id="amount_excess" readonly="">
                                                            </h4>
                                                        </div>
                                                    </div>
                                                </div>
                                                <div class="upload-sign">
                                                    <div class="form-group float-end mb-0"> 
                                                        <a href="{% url 'expense_advice_list_View' %}" class="btn btn-primary">Cancel</a>
                                                    </div>
                                                    <div class="form-group float-end mb-0"> 
                                                        <button class="btn btn-primary" type="submit" id="btn_submit" name="btn_submit">Save </button> 
                                                    </div>
                                                    <button type="reset" class="btn btn-outline-secondary me-1 btn-rounded">Reset</button>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="row col-sm-6 p-5">
                                        <div class="success_message row"></div>
                                    </div>
                                </div>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
    <script src="https://code.jquery.com/ui/1.13.1/jquery-ui.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery-validate/1.17.0/jquery.validate.js"></script>
    <script src="https://olatechs.in/crm/supreeno/assets/js/malsup-jquery.js"></script>

    <script type="text/javascript">
        $(document).on('change', '#customer', function () {
            var customer = $('#customer').val();
            var paymentreceiptno = $('#paymentreceiptno').val();
            
            $.ajax({
                type: 'POST',
                url: "{% url 'get_related_fields' %}",
                data: { 'customer': customer },
                headers: {'X-CSRFToken': '{{ csrf_token }}'},
                dataType: 'json',
                success: function (data) {
                    var html = '';
                    $("#existing_row_count").val(data.length);
                    
                    if (data.length === 0) {
                        $('.nobi').html('There is no Bill Applied For this payment');
                        $('#show_tmp_data').html('');
                    } else {
                        data.forEach(function(item, i) {
                            html += '<tr class="tblro">' +
                                '<td><input class="no-outline" id="id_i_' + i + '" name="id_i_' + i + '" value="' + item.id + '" hidden>' +
                                '<input class="no-outline" id="invoicedate' + i + '" name="invoicedate' + i + '" value="' + item.ae_invoice_date + '"></td>' +
                                '<td><input class="no-outline" id="customername' + i + '" name="customername' + i + '" value="' + item.ae_vendor_name + '"></td>' +
                                '<td><input class="no-outline" id="invoiceno' + i + '" name="invoiceno' + i + '" value="' + item.ae_invoice_no + '"></td>' +
                                '<td><input class="no-outline" id="invoiceamount' + i + '" name="invoiceamount' + i + '" value="' + parseFloat(item.all_total).toFixed(2) + '"></td>' +
                                '<td><input class="no-outline" id="dueamount' + i + '" name="dueamount' + i + '" value="' + parseFloat(item.ae_due_amount).toFixed(2) + '" size="8" onchange="dueamt(\'' + i + '\');">' +
                                '<span><a style="color:blue; cursor: pointer;" onclick="dueamt(\'' + i + '\');">(Pay Full)</a></span></td>' +
                                '<td><input type="number" step="0.01" class="payment" name="payment' + i + '" id="payment' + i + '" onkeyup="paymenti(' + i + ');" steps="0.01"></td>' +
                                '</tr>';
                        });
                        $('#show_tmp_data').html(html);
                        $('.nobi').html('');
                    }
                },
                error: function () {
                    $('#existing_row_count').val(0);
                    $('#show_tmp_data').html('');
                    $('.nobi').html('There is no Bill Applied For this payment');
                }
            });
        });

        function paymenti(i) {
            var sum = 0;
            $(".payment").each(function () {
                sum += +this.value || 0;
            });

            $('#total').val(sum.toFixed(2));
            $('#amount_received').val(sum.toFixed(2));
            $('#amount_used').val(sum.toFixed(2));
            $('#amount_excess').val(sum.toFixed(2));
            $('#amount').val(sum.toFixed(2));

            var dueamount = Number($('#dueamount' + i).val());
            var payment = Number($('#payment' + i).val());

            if (payment > dueamount) {
                $('#payment' + i).val('0');
                $('#amount').val('0');
                $('#total').val('');
                $('#amount_received').val('');
                $('#amount_used').val('');
                $('#amount_excess').val('');
            }
        }

        function dueamt(i) {
            var dueamount = $('#dueamount' + i).val();
            $('#payment' + i).val(dueamount);

            var sum = 0;
            $(".payment").each(function () {
                sum += +this.value || 0;
            });

            $('#amount').val(sum.toFixed(2));
            $('#total').val(sum.toFixed(2));
            $('#amount_received').val(sum.toFixed(2));
            $('#amount_used').val(sum.toFixed(2));
            $('#amount_excess').val(sum.toFixed(2));
        }

        $(function () {
            $("#expense_advice_form").ajaxForm({
                beforeSend: function () {
                    $('#btn_submit').prop('disabled', true);
                    $('.form_error_msg').html('');
                },
                beforeSubmit: function () {
                    // Check if there are any bills
                    var rowCount = parseInt($('#existing_row_count').val()) || 0;
                    if (rowCount === 0) {
                        $('.success_message').html('<div class="alert alert-danger"><strong>Error: No bills applied for this payment. Please select a vendor with associated bills.</strong></div>');
                        $('#btn_submit').prop('disabled', false);
                        return false; // Prevent form submission
                    }

                    // Existing validations
                    var customer = $("#customer").val();
                    var amount = $("#amount").val();

                    if (customer === '') {
                        $('.success_message').html('<div class="alert alert-danger"><strong>Error: Please select a vendor.</strong></div>');
                        $('#btn_submit').prop('disabled', false);
                        return false; // Prevent form submission
                    }

                    if (amount === '' || parseFloat(amount) <= 0) {
                        $('.success_message').html('<div class="alert alert-danger"><strong>Error: Please enter a valid amount.</strong></div>');
                        $('#btn_submit').prop('disabled', false);
                        return false; // Prevent form submission
                    }

                    return $("#expense_advice_form").valid(); // Proceed if form is valid
                },
                complete: function (response) {
                    $('.paym').each(function (i, obj) {
                        var deposit = $("#deposit").val(); // Note: Ensure this field exists in your form
                        var customer = $("#customer").val();
                        var date = $("#date").val();
                        var payment_mode = $("#payment_mode").val();
                        var mobile = $("#mob_no").val();
                        var balance = $("#balance").is(':checked') ? 'Checked' : 'UnChecked';
                        var amount = $("#amount").val();
                        var bank_charges = $("#bank_charges").val();
                        var cheque_no = $("#cheque_no").val();
                        var cheque_date = $("#cheque_date").val();
                        var reference = $("#reference").val();
                        var note = $("#note").val();
                        var total = $("#total").val();
                        var amount_received = $("#amount_received").val();
                        var amount_used = $("#amount_used").val();
                        var amount_excess = $("#amount_excess").val();

                        $.post('#', { // Replace with actual URL
                            deposit: deposit,
                            customer: customer,
                            date: date,
                            payment_mode: payment_mode,
                            mobile: mobile,
                            balance: balance,
                            amount: amount,
                            bank_charges: bank_charges,
                            cheque_no: cheque_no,
                            cheque_date: cheque_date,
                            reference: reference,
                            note: note,
                            total: total,
                            amount_received: amount_received,
                            amount_used: amount_used,
                            amount_excess: amount_excess,
                            paymentreceiptno: $("#paymentreceiptno").val()
                        }, function (data) {});
                    });

                    $('.tblro').each(function (i, obj) {
                        var invoicedate = $("#invoicedate" + i).val();
                        var customername = $("#customername" + i).val();
                        var invoiceno = $('#invoiceno' + i).val();
                        var invoiceamount = $('#invoiceamount' + i).val();
                        var dueamount = $('#dueamount' + i).val();
                        var payment = $('#payment' + i).val();

                        $.post('#', { // Replace with actual URL
                            invoicedate: invoicedate,
                            customername: customername,
                            invoiceno: invoiceno,
                            invoiceamount: invoiceamount,
                            dueamount: dueamount,
                            payment: payment,
                            paymentreceiptno: $("#paymentreceiptno").val()
                        }, function (data) {});
                    });

                    $('.success_message').show().html('<div class="alert alert-info"><strong>Payment Received Added Successfully. </strong></div>');
                    setTimeout(function () {
                        window.location.href = "{% url 'expense_advice_list_View' %}";
                    }, 3000);
                },
                error: function (xhr, status, error) {
                    $('#btn_submit').prop('disabled', false);
                    $('.success_message').html('<div class="alert alert-danger"><strong>Error: Failed to save the expense advice. Please try again.</strong></div>');
                }
            });

            $('.cheque_date').hide();
            $('.cheque_no').hide();
        });

        $("#payment_mode").on("change", function () {
            $payment_mode = $('#payment_mode').val();
            if ($payment_mode == 'Cheque') {
                $('.cheque_no').show();
                $('.cheque_date').show();
            } else {
                $('.cheque_no').hide();
                $('.cheque_date').hide();
            }
        });

        $(function() {
            $("#customer_Name_id").autocomplete({
                source: "{% url 'autocomplete_accexpns_name' %}",
                minLength: 1,
                select: function(event, ui) {
                    $("#customer_id").val(ui.item.id);
                }
            });
        });
    </script>

    <script>
        // Set today's date in the format DD-MM-YYYY
        document.addEventListener("DOMContentLoaded", function () {
            const today = new Date();
            const formattedDate = 
                String(today.getDate()).padStart(2, '0') + '-' +
                String(today.getMonth() + 1).padStart(2, '0') + '-' +
                today.getFullYear();
            document.getElementById("date").value = formattedDate;
        });
    </script>

    <script>
        document.addEventListener("DOMContentLoaded", function () {
            const mobileInput = document.getElementById("mob_no");
            const mobileError = document.getElementById("mobileError");

            mobileInput.addEventListener("input", function () {
                const mobileValue = this.value;
                const mobileRegex = /^[0-9]{10}$/;

                if (!mobileRegex.test(mobileValue)) {
                    mobileError.textContent = "Enter a valid 10-digit phone number.";
                } else {
                    mobileError.textContent = "";
                }
            });
        });
    </script>
{% endblock main_content %}