{% extends 'dashboard/base_template.html' %}
{% block custom_css %}
{% block page_title %}
{% endblock page_title %}
<style>
    .custom-error {
        max-width: 300px;
        /* Adjust the width to your desired value */
        margin: 0 auto;
        /* Add this line to center the element */
        text-align: center;
        /* Add this line to center the text inside the element */
    }

    .input-group-text {
        cursor: pointer;
    }

    .grey-card {
        background-color: LightGray;
    }

    .negative-padding {
        margin-top: -60px;
    }
</style>
{% endblock custom_css %}
<!-- Main content -->
{% block main_content %}
<div class="page-wrapper" style="min-height: 434px;">
    <div class="content container-fluid">
        <div class="page-header">
            <div class="row">
                <div class="col-sm-12">
                    <h3 class="page-title"> <a href="{% url 'payment_received_list' %}" style="margin-right: 10px;"><i
                                class="fa fa-arrow-left" data-bs-toggle="tooltip" title="" data-bs-original-title="Back"
                                aria-label="fa fa-arrow-left"></i></a> Edit Payment
                        Received</h3>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-md-12">
                <div class="card" data-select2-id="9">
                    <div class="card-body" data-select2-id="8">
                        <form class="paym" method="post" id="payment_received_form" data-select2-id="7"
                            autocomplete="off">
                            {% csrf_token %}
                            <div class="row" data-select2-id="6">
                                <div class="col-md-2">
                                    <div class="form-group">
                                        <label >Deposite to</label>
                                        <select class="form-select" name="payment_received_bank_name" id="payment_received_bank_name" required>
                                            <option value="{{payment_received_instance.payment_received_bank_name}}">{{payment_received_instance.payment_received_bank_name}}</option>
                                            <option value="HDFC">HDFC Bank</option>
                                            <option value="ICICI">ICICI Bank</option>
                                            <option value="SBI">State Bank of India (SBI)</option>
                                            <option value="AXIS">Axis Bank</option>
                                            <option value="KOTAK">Kotak Mahindra Bank</option>
                                            <option value="PNB">Punjab National Bank (PNB)</option>
                                            <option value="CANARA">Canara Bank</option>
                                            <option value="BOB">Bank of Baroda (BOB)</option>
                                            <option value="UNION">Union Bank of India</option>
                                            <option value="IDBI">IDBI Bank</option>
                                            <option value="INDUSIND">IndusInd Bank</option>
                                            <option value="YES">YES Bank</option>
                                            <option value="RBL">RBL Bank</option>
                                            <option value="BANKOFINDIA">Bank of India</option>
                                            <option value="INDIANBANK">Indian Bank</option>
                                            <option value="SYNDICATE">Syndicate Bank</option>
                                            <option value="UCO">UCO Bank</option>
                                            <option value="BANKOFRY">Bank of Rajasthan</option>
                                            <option value="HSBC">HSBC India</option>
                                            <option value="CITIBANK">Citibank India</option>
                                            <option value="OTHER">OTHER</option>
                                            </select>
                                        </div>
                                    <div class="form-group">
                                        <label for="customer" >Customer Name</label>
                                        <!-- Hidden field to store customer ID -->
                                        <input type="hidden" id="customer_id" name="customer_id" value="{{payment_received_instance.payment_received_customer.id}}">
                                        <!-- Input field for autocomplete -->
                                        <input type="text" id="customer" name="customer" class="form-control" value="{{payment_received_instance.payment_received_customer.customer}}" placeholder="Customer Name" readonly>
                                    </div>
                                </div>
                                <div class="col-md-2">
                                    <div class="form-group"> <label>Date</label>
                                        <div> <input class="form-control datetimepicker" type="text" name="date"
                                                id="date"
                                                value="{{payment_received_instance.payment_received_date | date:'d-m-Y'}}">
                                        </div>
                                    </div>
                                </div>

                                <div class="col-md-2">
                                    <div class="form-group"> <label>Payment Mode</label>
                                        <div>
                                            <select class="form-select" name="payment_mode" id="payment_mode">
                                                <option
                                                    value="{{payment_received_instance.payment_received_payment_mode}}">
                                                    {{payment_received_instance.payment_received_payment_mode}}</option>
                                                <option value="Cash">Cash</option>
                                                <option value="Cheque">Cheque</option>
                                                <option value="Credit Card">Credit Card</option>
                                                <option value="Bank Transfer">Bank Transfer</option>
                                                <option value="Others">Others</option>
                                                <option value="Online">Online</option>
                                            </select>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-md-2">
                                    <div class="form-group"> <label >Mobile</label>
                                        <div> <input class="form-control" type="text" name="mobile" id="mobile"
                                                autocomplete="off" value="{{payment_received_instance.payment_received_mobile}}" pattern="\d{10}" title="Enter a 10-digit number">    
                                                  <span id="phoneError" style="color: red;"></span></div> 

                                    </div>
                                    
                                </div>
                                <div class="col-md-2">
                                    <div class="form-group">
                                        <label style="color:#f00"> Amount</label>
                                        <input type="text" name="amount" id="amount" class="form-control"
                                            value="{{payment_received_instance.payment_received_amount}}" readonly="">
                                    </div>
                                </div>
                                <div class="col-md-2">
                                    <div class="form-group">
                                        <label>Payment Receipt No</label>
                                        <div> <input class="form-control" type="text" name="paymentreceiptno"
                                                value="{{payment_received_instance.payment_received_payment_receipt_no}}"
                                                id="paymentreceiptno" placeholder="Payment Receipt No" readonly="">
                                        </div>
                                    </div>
                                </div>
                                <div class="col-md-2">
                                    <div class="form-group">
                                        <label>Bank Charges (If any) </label>
                                        <input type="text" name="bank_charges" id="bank_charges" class="form-control"
                                            value="{{payment_received_instance.payment_received_bank_charges}}">
                                    </div>
                                </div>
                                <div class="col-md-2 cheque_no" style="display: none;">
                                    <div class="form-group">
                                        <label>DD/Cheque No </label>
                                        <input type="text" name="cheque_no" id="cheque_no" class="form-control"
                                            value="{{payment_received_instance.payment_received_cheque_no}}">
                                    </div>
                                </div>
                                <div class="col-md-2 cheque_date" style="display: none;">
                                    <div class="form-group">
                                        <label>DD/Cheque Date</label>
                                        <input class="form-control datetimepicker" type="text" name="cheque_date"
                                            id="cheque_date"
                                            value="{{payment_received_instance.payment_received_cheque_date | date:'Y-m-d'}}">
                                    </div>
                                </div>
                                <div class="col-md-2">
                                    <div class="form-group">
                                        <label>Reference# </label>
                                        <div>
                                            <input class="form-control " type="text" name="reference" id="reference"
                                                value="{{payment_received_instance.payment_received_reference}}">
                                        </div>
                                    </div>
                                </div>
                                <div class="col-md-2">
                                    <div class="form-group">
                                        <label>Banlance</label>
                                        <div>
                                            <input class="form-control " type="text" name="balance" id="balance" value="{{payment_received_instance.payment_received_balance}}">
                                        </div>
                                    </div>
                                </div>
                                <!-- <div class="col-md-2">
                                    <div class="form-group">
                                        <label>Service Type</label>
                                        <div>
                                            <input class="form-control " type="text" name="payment_ser_type" id="payment_ser_type"
                                                value="{{payment_received_instance.payment_ser_type}}">
                                        </div>
                                    </div>
                                </div> -->

                                <div class="col-md-2 total_due" style="display: none;">
                                    <div class="form-group">
                                        <label>DD/Cheque No </label>
                                        <input type="hidden" name="due_total" id="due_total" class="form-control"
                                            value=0>
                                    </div>
                                </div>


                            </div>
                            <hr>

                            <div class="col-lg-12 pt11">
                                <div class="table-responsive">
                                    <table class="table table-hover mb-0">
                                        <thead>
                                            <tr>
                                                <th>Date</th>
                                                <th>Customer</th>
                                                <th>Invoice Number</th>
                                                <th>Invoice Amount</th>
                                                <th>Due Amount </th>
                                                <th>Payment</th>
                                            </tr>
                                        </thead>
                                        <tbody id="show_tmp_data">
                                            {% for j in payment_received_item_data %}
                                            <tr class="tblro">
                                                <input type="hidden" name="iid[]" class="iid"
                                                    value="{{len_payment_received_item_data}}">
                                                <td><input class="no-outline" id="invoicedate{{forloop.counter}}"
                                                        name="invoicedate{{forloop.counter}}" value="{{j.invoicedate}}">
                                                </td>

                                                <td><input class="no-outline" id="customername{{forloop.counter}}"
                                                        name="customername{{forloop.counter}}" value="{{j.customer_name.customer}}">
                                                </td>

                                                <td><input class="no-outline" id="invoiceno{{forloop.counter}}"
                                                        name="invoiceno{{forloop.counter}}" value="{{j.invoicenumber}}">
                                                </td>

                                                <td><input class="no-outline" id="invoiceamount{{forloop.counter}}"
                                                        name="invoiceamount{{forloop.counter}}"
                                                        value="{{j.invoiceamount}}"></td>

                                                <td><input class="no-outline" id="dueamount{{forloop.counter}}"
                                                        name="dueamount{{forloop.counter}}" value="{{j.dueamount}}"
                                                        size="8"><span> <a style="color:blue; cursor: pointer;"
                                                            onclick="dueamt('{{forloop.counter}}');">(Pay Full)</a></span></td>

                                                <td><input class="payment" name="payment{{forloop.counter}}"
                                                        id="payment{{forloop.counter}}" value="{{j.payment | default:'0'}}"
                                                        onkeyup="paymenti('{{forloop.counter}}');"></td>

                                            </tr>
                                            {% endfor %}
                                        </tbody>
                                    </table>
                                    <div class="nobi">
                                        <!-- <h3>There is no Bill Applied For this payment</h3> -->
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="row">
                                        <div class="col-lg-12">
                                            <hr>
                                        </div>
                                        <div class="col-lg-7 col-md-6 pt11">
                                            <div class="invoice-fields">
                                                <h4 class="field-title"> Note..</h4> <textarea class="form-control"
                                                    name="note"
                                                    id="note">{{payment_received_instance.payment_received_note}}</textarea>
                                            </div>
                                        </div>
                                        <div class="col-lg-5 col-md-6 pt11">
                                            <div class="invoice-total-card">
                                                <div class="invoice-total-box">
                                                    <div class="invoice-total-inner">

                                                        <div class="row">
                                                            <div class="col-lg-6">
                                                                <p>Total </p>
                                                            </div>
                                                            <div class="col-lg-6 ">
                                                                <input type="text" class="utrt1" name="total" id="total"
                                                                    value="{{payment_received_instance.payment_received_total}}"
                                                                    readonly="">
                                                            </div>
                                                        </div>

                                                        <div class="row">
                                                            <div class="col-lg-6">
                                                                <p> Amount Received</p>
                                                            </div>
                                                            <div class="col-lg-6 ">
                                                                <input type="text" class="utrt1" name="amount_received"
                                                                    id="amount_received"
                                                                    value="{{payment_received_instance.payment_received_amount_received}}"
                                                                    readonly="">
                                                            </div>
                                                        </div>

                                                        <div class="row">
                                                            <div class="col-lg-6">
                                                                <p>Amount Used For Payments</p>
                                                            </div>
                                                            <div class="col-lg-6 ">
                                                                <input class="utrt1" type="text" name="amount_used"
                                                                    id="amount_used"
                                                                    value="{{payment_received_instance.payment_received_amount_used}}">
                                                            </div>
                                                        </div>

                                                        <div class="invoice-total-footer">
                                                            <h4>Amount in excess<input class="utrt1" type="text"
                                                                    name="amount_excess" id="amount_excess"
                                                                    value="{{payment_received_instance.payment_received_amount_excess}}"
                                                                    readonly="">
                                                            </h4>
                                                        </div>
                                                    </div>
                                                </div>
                                                <div class="upload-sign">
                                                    <div class="form-group float-end mb-0"> <a
                                                                href="{% url 'payment_received_list' %}"
                                                                class="btn btn-primary">Cancel</a> </div>
                                                    <div class="form-group float-end mb-0"> <button
                                                            class="btn btn-primary" type="submit" id="btn_submit"
                                                            name="btn_submit">Save </button> </div>
                                                    <div class="form-group float-end mb-0"> <button
                                                            class="btn btn-primary" type="reset">Reset</button> </div>
                                                    <!-- <button type="reset"
                                                        class="btn btn-outline-secondary me-1 btn-rounded">Reset</button> -->

                                                </div>
                                            </div>
                                        </div>
                                    </div>

                                    <div class="row col-sm-6 p-5">
                                        <div class="success_message row"></div>
                                    </div>

                                </div>
                            </div>
                        </form>
                    </div>
                </div>

            </div>
        </div>
    </div>

    <script>
        $(function() {
            $("#customer").autocomplete({
                source: "{% url 'autocomplete_customer_name' %}",
                minLength: 1,
                select: function(event, ui) {
                    // Set the selected customer's ID in the hidden field
                    $("#customer_id").val(ui.item.id);
                    // Trigger the AJAX call after selection
                    $('#customer').trigger('change');
                }
            });
        });
        </script>


    <script type="text/javascript">
        $(document).on('change', '#customer', function () {
            var customer = $('#customer_id').val();
            var paymentreceiptno = $('#paymentreceiptno').val();
            $.ajax({
                type: 'ajax',
                method: 'post',
                url: "{% url 'get_customerinvoice_data' %}",
                data: { 'customer': customer },
                headers: {'X-CSRFToken': '{{ csrf_token }}'},
                async: false,
                dataType: 'json',
                success: function (data) {
                    console.log(data);
                    var html = '';
                    var i;
                    $("#existing_row_count").val(data.length); // Add if needed
                    for (i = 0; i < data.length; i++) {
                        var totalamt = data[i].invoice_total;
                        var payments = data[i].payments || 0; // Assume backend provides payments
                        var dueamount = totalamt - payments;
                        html += '<tr class="tblro">' +
                            '<td><input class="no-outline" id="invoicedate' + i + '" name= "invoicedate' + i + '" value="' + data[i].invoice_date + '"></td>' +
                            '<td><input class="no-outline" id="customername' + i + '" name= "customername' + i + '" value="' + data[i].customer_name + '"></td>' +
                            '<td><input class="no-outline" id="invoiceno' + i + '" name= "invoiceno' + i + '" value="' + data[i].id + '"></td>' +
                            '<td><input class="no-outline" id="invoiceamount' + i + '" name= "invoiceamount' + i + '" value="' + totalamt + '"></td>' +
                            '<td><input type="text" class="no-outline" name="paymentreceiptno' + i + '" id="paymentreceiptno' + i + '" value="' + paymentreceiptno + '"></td>' +
                            '<td><input class="no-outline" id="dueamount{{forloop.counter}}" name="dueamount{{forloop.counter}}" value="{{j.dueamount}}"  data-original="{{j.dueamount}}" size="8"></td>' +
                            '<td>' + '<input class="payment" name="payment' + i + '" id="payment' + i + '" onkeyup="paymenti(\'' + i + '\');"></td>' +
                            '</tr>';
                    }
                    $('#show_tmp_data').html(html);
                    if (html == '') {
                        $('.nobi').html('There is no Bill Applied For this payment');
                    }
                    else {
                        $('.nobi').html('');
                    }

                },
                error: function () {
                    alert('There is no Bill Applied For this payment');
                    $('.nobi').html('There is no Bill Applied For this payment');
                }

            });
        });

        function paymenti(inputname) {
            var paymentField = $('#payment' + inputname);
            var dueField = $('#dueamount' + inputname);

            var originalDue = parseFloat(dueField.attr('data-original')) || parseFloat(dueField.val()) || 0;
            var payment = parseFloat(paymentField.val()) || 0;

            if (payment > originalDue) {
                alert('Payment cannot exceed due amount');
                payment = originalDue;
                paymentField.val(payment.toFixed(2));
            }

            var newDue = originalDue - payment;

            // Update due field without letting it go negative
            dueField.val(newDue.toFixed(2));

            // Recalculate totals
            var total = 0;
            $(".payment").each(function () {
                total += parseFloat($(this).val()) || 0;
            });

            $('#amount').val(total.toFixed(2));
            $('#total').val(total.toFixed(2));
            $('#amount_received').val(total.toFixed(2));
            $('#amount_used').val(total.toFixed(2));
        }


    </script>

    <script type="text/javascript">

        function dueamt(inputname) {
            var dueField = $('#dueamount' + inputname);
            var originalDue = parseFloat(dueField.attr('data-original')) || 0;

            $('#payment' + inputname).val(originalDue.toFixed(2));
            dueField.val('0.00');

            var sum = 0;
            $(".payment").each(function () {
                sum += parseFloat(this.value) || 0;
            });

            $('#amount').val(sum.toFixed(2));
            $('#total').val(sum.toFixed(2));
            $('#amount_received').val(sum.toFixed(2));
            $('#amount_used').val(sum.toFixed(2));
        }

    </script>

    <script type="text/javascript">
        $(function () {
            $("#payment_received_form").ajaxForm({
                beforeSend: function () {
                    $('#btn_submit').prop('disabled', true);
                    $('.form_error_msg').html('');
                },
                uploadProgress: function (event, position, total, percentComplete) {
                },
                beforeSubmit: function () {
                    return $("#payment_received_form").valid(); // TRUE when form is valid, FALSE will cancel submit
                },
                complete: function (response) {
                    var customer = $("#customer_id").val();
                    var amount = $("#amount").val();
                    var total_due = $("#due_total").val();

                    if (customer == '') {
                        alert('please Enter Customer')
                    }
                    else if (amount == '') {
                        alert('Please Enter Amount')
                    }
                    else {
                        $('.paym').each(function (i, obj) {
                            var deposit = $("#deposit").val();
                            var customer = $("#customer_id").val();
                            var date = $("#date").val();
                            var payment_mode = $("#payment_mode").val();
                            var mobile = $("#mobile").val();
                            var balance = $("#balance").val();
                            var amount = $("#amount").val();
                            var bank_charges = $("#bank_charges").val();
                            var cheque_no = $("#cheque_no").val();
                            var cheque_date = $("#cheque_date").val();
                            var reference = $("#reference").val();
                            var note = $("#note").val();
                            var total = $("#total").val();
                            var amount_received = $("#amount_received").val();
                            var amount_used = $("#amount_used").val();
                            var amount_excess = $("#amount_excess").val();
                            var paymentreceiptno = $("#paymentreceiptno").val();

                            // Balance is text, no check
                            $.post('#', { deposit: deposit, customer: customer, date: date, payment_mode: payment_mode, mobile: mobile, balance: balance, amount: amount, bank_charges: bank_charges, cheque_no: cheque_no, cheque_date: cheque_date, reference: reference, note: note, total: total, amount_received: amount_received, amount_used: amount_used, amount_excess: amount_excess, paymentreceiptno: paymentreceiptno }, function (data) {
                            });


                        });

                        $('.tblro').each(function (i, obj) {
                            var invoicedate = $("#invoicedate" + i).val();
                            var customername = $("#customername" + i).val();
                            var invoiceno = $('#invoiceno' + i).val();
                            var invoiceamount = $('#invoiceamount' + i).val();
                            var dueamount = $('#dueamount' + i).val();
                            var payment = $('#payment' + i).val();
                            var paymentreceiptno = $('#paymentreceiptno' + i).val();

                            // Balance is text
                            $.post('#', { invoicedate: invoicedate, customername: customername, invoiceno: invoiceno, invoiceamount: invoiceamount, dueamount: dueamount, payment: payment, paymentreceiptno: paymentreceiptno }, function (data) {
                            });


                        });

                        var temp = 'success';

                        if (temp == 'success') {
                            $('.success_message').show().html('<div class="alert alert-info"><strong>Payment Received Updated Successfully. </strong></div>');
                            setTimeout(function () {
                                window.location.href = '#';
                            }, 3000);
                        }
                        else if (temp.status == 'error') {
                            alert('error');
                            $('#btn_submit').prop('disabled', false);
                            $('.success_message').html('');
                            $.each(temp.errors, function (key, val) {
                                $('.' + key).html(val);
                            });
                        }

                    }


                }
            });

            // Show cheque fields based on initial payment mode
            var initial_mode = $('#payment_mode').val();
            if (initial_mode == 'Cheque') {
                $('.cheque_no').show();
                $('.cheque_date').show();
            } else {
                $('.cheque_no').hide();
                $('.cheque_date').hide();
            }
        });
    </script>

    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery-validate/1.17.0/jquery.validate.js"></script>

    <script src="https://olatechs.in/crm/supreeno/assets/js/malsup-jquery.js"></script>

    <script type="text/javascript">
        $("#payment_mode").on("change", function () {
            var payment_mode = $('#payment_mode').val();

            if (payment_mode == 'Cheque') {
                $('.cheque_no').show();
                $('.cheque_date').show();
            }
            else {
                $('.cheque_no').hide();
                $('.cheque_date').hide();
            }
        })
    </script>

<script>
   document.addEventListener("DOMContentLoaded", function () {
      const mobileInput = document.getElementById("mobile");
      const mobileError = document.getElementById("phoneError");

      mobileInput.addEventListener("input", function () {
         const mobileValue = this.value;
         const mobileRegex = /^[0-9]{10}$/; // Regular expression for a 10-digit mobile number

         if (!mobileRegex.test(mobileValue)) {
            mobileError.textContent = "Enter a valid 10-digit phone number.";
         } else {
            mobileError.textContent = "";
         }
      });
   });

</script>

</div>
{% endblock main_content %}