{% extends 'dashboard/base_template.html' %}
{% block title %}
Ecoway
{% endblock %}

{% block custom_css %}

<style>
    /* Inactive tab styles */
    .nav-tabs.nav-tabs-bottom .nav-item .nav-link {
        color: #ccc;
        /* Faint gray color for inactive tabs */
    }

    /* Active tab style */
    .nav-tabs.nav-tabs-bottom .nav-item .nav-link.active {
        color: #000;
        /* Black color for active tab */
    }
</style>
{% endblock custom_css %}

{% block main_content %}



<div class="page-wrapper" style="min-height: 553px;">
    <div class="content container-fluid">
        <div class="row justify-content-center">
            <div class="col-xl-10">
                <div id="accordion" class="custom-faq mb-3">
                    <div class="card mb-1">
                        <div class="card-header" id="headingFour">
                            <h5 class="accordion-faq m-0"> <a class="text-dark collapsed" data-bs-toggle="collapse"
                                    href="#collapseFour" aria-expanded="false"> <i
                                        class="mdi mdi-help-circle me-1 text-primary"></i> <!-- 1 --> Bill(s) payment
                                    pending <!-- <sapn style="float: right;">Total Amount : 20.89</sapn> --></a> </h5>
                        </div>
                        <div id="collapseFour" class="collapse" aria-labelledby="collapseFour"
                            data-bs-parent="#accordion" style="">
                            <div class="card-body">
                                <div class="table-responsive">
                                    <table class="invoice-table table table-center mb-0">
                                        <thead>
                                            <tr>
                                                <th>Date</th>
                                                <th>Bill#</th>
                                                <th>Status</th>
                                                <th>Amount</th>
                                                <th>Due Amount</th>
                                            </tr>
                                        </thead>
                                        <tbody>


                                            <tr>
                                                <td>2023-12-07</td>
                                                <td></td>
                                                <td>
                                                    <span class="badge bg-danger-light">Overdue</span>
                                                </td>
                                                <td>₹20.89</td>
                                                <td>₹20.89</td>

                                            </tr>
                                        </tbody>
                                    </table>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="card-body" style="background:#fff">
                    <ul class="nav nav-tabs nav-tabs-bottom">
                        <li class="nav-item"><a class="nav-link active" href="#bottom-tab1"
                                data-bs-toggle="tab">Statement</a></li>
                        <li class="nav-item"><a class="nav-link" href="#bottom-tab2"
                                data-bs-toggle="tab">Transactions</a></li>
                    </ul>
                    <div class="tab-content">
                        <div class="tab-pane show active" id="bottom-tab1">
                            <div class="row">
                                <div class="col-md-6">
                                    <!-- <div class="row">
                                        <div class="col-lg-3">
                                            <select class="form-select">
                                                <option> This Year</option>
                                                <option> Today</option>
                                                <option> This Week</option>
                                            </select>
                                        </div>
                                    </div> -->

                                </div>
                                <div class="col-md-6">
                                    <div class="text-md-end">
                                        <div class="btn-group btn-group-sm d-print-none mb-4">
                                            <!-- <a href="javascript:window.print()" class="btn btn-white text-black-50"><i class="fa fa-print"></i> Print</a> -->
                                            <button id="download-button"
                                                class="btn btn-white text-black-50 shadow-none"><i
                                                    class="fa fa-download"></i> Download</button>
                                        </div>
                                    </div>

                                </div>
                            </div>
                            <div class="card invoice-info-card">
                                <div class="card-body" id="vendor_pdf">
                                    <div class="invoice-item invoice-item-one">
                                        <div class="row">
                                            <div class="col-md-6">

                                                <div class="invoice-head" style="padding-top: 15px">
                                                    <h2>Vendor Statement for ROYAL STEEL INDIA </h2>
                                                    <!-- <p>From 01 Apr 2022 To 31 Mar 2023 </p> -->
                                                </div>
                                            </div>
                                            <div class="col-md-6">

                                                <div class="invoice-info">
                                                    <h6 class="invoice-name">M/S KEYMECH TECHNOLOGIES</h6>
                                                    <!-- <p class="invoice-details"> <b>HEAD OFFICE:</b> <br>UNIT NO.108,
                                                        PLOT NO. C-56/1, TURBHE INDUSTRIAL PARK, NAVI MUMBAI, THANE,
                                                        MAHARASHTRA, INDIA - 400710. </p> -->
                                                    <p class="invoice-details" style="padding-top:5px"> <b>BRANCH OFFICE
                                                            :</b> <br> </p>
                                                    <p class="invoice-details" style="padding-top:5px"> <b>GST:</b>
                                                        <!-- 27ABGCS2596F1Z1 </p> -->
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="invoice-item invoice-item-two">
                                        <div class="row">
                                            <div class="col-md-6">
                                                <div class="invoice-info"> <strong class="customer-text-one">Billed
                                                        To</strong>
                                                    <!-- <h6 class="invoice-name">ROYAL STEEL INDIA</h6> -->
                                                    <p class="invoice-details-two">
                                                    </p>
                                                    <p class=" invte" style="padding-top:5px"> {{customer}}<br>{{customer_instance.company_name}},
                                                         <br>{{customer_instance.street}}  ,{{customer_instance.city}} 
                                                         <br> {{customer_instance.state}} ,
                                                         {{customer_instance.pincode}}  </p>
                                                    <p class=" invte" style="padding-top:5px"> GST : {{customer_instance.gst_number}}
                                                    </p>
                                                    <p class=" invte" style="padding-top:5px"> State Code : {{customer_instance.state}} </p>
                                                    <p></p>
                                                </div>
                                            </div>
                                            <div class="col-md-6">
                                                <div class="invoice-info invoice-info2"> <strong
                                                        class="customer-text-one">Statement of Accounts </strong>
                                                    <p class="invoice-details">  </p>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="row align-items-center justify-content-center">
                                        <div class="col-lg-6 col-md-6">
                                            <div class="invoice-terms"> </div>
                                        </div>
                                        <div class="col-lg-6 col-md-6">
                                            <div class="invoice-total-card">
                                                <div class="invoice-total-box">

                                                    <div class="invoice-total-inner">
                                                        <p style="background:#dfdede;padding: 3px;"> Account Summary</p>

                                                        <p style="padding: 3px;">Opening Balance <span><input
                                                                    type="text" class="no-outline" value="₹" size="1"
                                                                    style="text-align:right"><input type="text"
                                                                    class="no-outline" name="opening_bal"
                                                                    id="opening_bal" value="0" size="5"
                                                                    style="text-align:left"></span></p>

                                                        <!-- <p style="padding: 3px;">Billed Amount <span><input type="text" class="no-outline" value="₹" size="1" style="text-align:right"> <input type="text" class="no-outline" name="bill_amt" id="bill_amt" value="20.89" size="5" style="text-align:left"></span></p>

                                                        <p style="padding: 3px;">Amount Paid <span><input type="text" class="no-outline" value="₹" size="1" style="text-align:right"> <input type="text" class="no-outline" name="paid_amt" id="paid_amt" value="12" size="5" style="text-align:left"></span></p> -->
                                                        <!-- <p style="padding: 3px;">Billed Amount: <span><input type="text" class="no-outline" value="₹" size="1" style="text-align:right"> <input type="text" class="no-outline" name="bill_amt" id="bill_amt" value="{{ customer.cust_receive_amout }}"  size="5" style="text-align:left"></span></p> -->

                                                        <p style="padding: 3px;">Billed Amount: <span><input type="text"
                                                                    class="no-outline" value="₹" size="1"
                                                                    style="text-align:right"> <input type="text"
                                                                    class="no-outline" name="bill_amt" id="bill_amt"
                                                                    value="{{customer_received_amount|floatformat:2}}" size="5"
                                                                    style="text-align:left"></span></p>

                                                        <p style="padding: 3px;">Amount Paid <span><input type="text"
                                                                    class="no-outline" value="₹" size="1"
                                                                    style="text-align:right"> <input type="text"
                                                                    class="no-outline" name="paid_amt" id="paid_amt"
                                                                    value="" size="5" style="text-align:left"></span>
                                                        </p>
                                                    </div>
                                                    <div class="invoice-total-footer">
                                                        <h4>Balance Due <span><input type="text" class="no-outline"
                                                                    value="₹" size="1" style="text-align:right"> <input
                                                                    type="text" class="no-outline" name="balance_due"
                                                                    id="balance_due" size="5"
                                                                    style="text-align:left"></span></h4>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div> <br>

                                </div>
                            </div>
                        </div>

                        <div class="tab-pane" id="bottom-tab2">

                            <div class="row">
                                <div class="col-lg-3">
                                    <select class="form-select" name="transaction" id="transaction">
                                        <option value="bill">Bill</option>

                                    </select>
                                </div>

                            </div>
                            <br>

                            <div class="table-responsive bill">
                                <table class="invoice-table table table-center mb-0">
                                    <thead>
                                        <tr>
                                            <th>Date</th>
                                            <!-- <th>Bill#</th> -->
                                            <th>Vendor Name</th>
                                            <!-- <th>Status</th> -->
                                            <th>Due Date</th>
                                            <th class="text-end">Amount</th>
                                        </tr>
                                    </thead>
                                    <tbody>
                                        <tr>
                                            <td>{{date}}</td>
                                            <!-- <td><a href="https://olatechs.in/crm/supreeno/admin/edit_invoice/2"></a>
                                            </td> -->
                                            <td>{{customer}}</td>
                                            <!-- <td></td> -->
                                            <td>{{date}}</td>
                                            <td class="text-end">₹{{customer_received_amount|floatformat:2}}</td>
                                        </tr>
                                    </tbody>
                                </table>

                            </div>

                            <div class="table-responsive payment_made" style="display: none;">
                                <table class="invoice-table table table-center mb-0">
                                    <thead>
                                        <tr>
                                            <th>Date</th>
                                            <th>Reference#</th>
                                            <th>Vendor Name</th>
                                            <th>Payment Mode</th>
                                            <th class="text-end">Paid Amount</th>
                                        </tr>
                                    </thead>
                                    <tbody>
                                        <tr>
                                            <td>07-12-2023</td>
                                            <td></td>
                                            <td><a href="https://olatechs.in/crm/supreeno/admin/edit_payment_made/1">ROYAL
                                                    STEEL INDIA</a></td>
                                            <td>Cash</td>
                                            <td class="text-end">₹12.00</td>
                                        </tr>
                                    </tbody>
                                </table>

                            </div>

                            <div class="table-responsive purchase_order" style="display: none;">
                                <table class="invoice-table table table-center mb-0">
                                    <thead>
                                        <tr>
                                            <th>Date</th>
                                            <th>Purchase Order#</th>
                                            <th>Vendor Name</th>
                                            <th>Status</th>
                                            <th class="text-end">Amount</th>
                                        </tr>
                                    </thead>
                                    <tbody>
                                        <tr>
                                            <td>12-07-2023</td>
                                            <td><a
                                                    href="https://olatechs.in/crm/supreeno/admin/edit_purchase_order/126"></a>
                                            </td>
                                            <td>ROYAL STEEL INDIA</td>
                                            <td></td>
                                            <td class="text-end">₹3439.70</td>
                                            <td>07-12-2023</td>
                                            <td><a
                                                    href="https://olatechs.in/crm/supreeno/admin/edit_purchase_order/177"></a>
                                            </td>
                                            <td>ROYAL STEEL INDIA</td>
                                            <td></td>
                                            <td class="text-end">₹41.60</td>
                                        </tr>
                                    </tbody>
                                </table>

                            </div>

                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

{% block custom_js %}
<script>
    document.addEventListener("DOMContentLoaded", function () {
        const gstNoInput = document.getElementById("gst_no");
        const gstNoLabel = document.querySelector(".gst_no"); // Get the label element
        const toggleGst = document.getElementById("toggleGst");

        // Check if GST number is initially provided
        if (gstNoInput.value.trim() !== '') {
            // If GST number is provided, keep the toggle button "on" (clicked)
            toggleGst.checked = true;
        } else {
            // If GST number is empty, turn the toggle button "off"
            toggleGst.checked = false;
            // Hide the GST number label and input field
            gstNoInput.style.display = 'none';
            gstNoLabel.style.display = 'none';
        }

        toggleGst.addEventListener("change", function () {
            if (!toggleGst.checked) {
                // If the toggle button is turned off, hide the GST number label and input field
                gstNoInput.style.display = 'none';
                gstNoLabel.style.display = 'none';
            } else {
                // If the toggle button is turned on, show the GST number label and input field
                gstNoInput.style.display = 'block';
                gstNoLabel.style.display = 'block';
            }
        });

        gstNoInput.addEventListener("input", function () {
            const gstNoValue = this.value.trim();
            if (gstNoValue !== '') {
                // If GST number is provided, keep the toggle button "on" (clicked)
                toggleGst.checked = true;
            } else {
                // If GST number is empty, turn the toggle button "off"
                toggleGst.checked = false;
            }
        });
    });
</script>

<script>
    // Assuming customer.cust_receive_amout is a JavaScript variable
    document.getElementById('bill_amt').value = customer_instance.cust_receive_amount;
    console.log(customer_instance.cust_receive_amount, "PPPPPPP")
</script>
<!-- Add this script at the bottom of your HTML file, after the other JavaScript code -->
<script>
    document.addEventListener("DOMContentLoaded", function () {
        const gstIdInput = document.getElementById("gst_no");
        const panInput = document.getElementById("pan_no");

        // Function to generate PAN from GST (Assuming the format is consistent)
        function generatePAN(gstId) {
            // Extract the 3rd to 12th characters from the GST ID
            const panSubstring = gstId.substr(2, 10);
            // Append a fixed PAN suffix
            const panNumber = panSubstring;
            return panNumber;
        }

        gstIdInput.addEventListener("input", function () {
            const gstIdValue = this.value;
            if (gstIdValue.length >= 12) {
                const panValue = generatePAN(gstIdValue);
                panInput.value = panValue;
            } else {
                panInput.value = ''; // Clear the PAN field if the GST is not long enough
            }
        });
    });
</script>
<script>
    document.addEventListener("DOMContentLoaded", function () {
        const gstNoInput = document.getElementById("gst_no");
        const toggleGst = document.getElementById("toggleGst");

        // Check if GST number is initially provided
        if (gstNoInput.value.trim() !== '') {
            // If GST number is provided, keep the toggle button "on" (clicked)
            toggleGst.checked = true;
        } else {
            // If GST number is empty, turn the toggle button "off"
            toggleGst.checked = false;
        }

        gstNoInput.addEventListener("input", function () {
            const gstNoValue = this.value.trim();
            if (gstNoValue !== '') {
                // If GST number is provided, keep the toggle button "on" (clicked)
                toggleGst.checked = true;
            } else {
                // If GST number is empty, turn the toggle button "off"
                toggleGst.checked = false;
            }
        });
    });

</script>
<script>
    document.addEventListener("DOMContentLoaded", function () {
        // Your existing code for other fields here...

        // Function to validate Maximum Payment Limit
        function validateMaximumPaymentLimit(value) {
            // Allow empty value
            if (value.trim() === '') {
                return true;
            }

            // Add any additional validation logic if needed
            return true; // Return true for non-empty values (add validation logic here if needed)
        }

        const maximumPaymentLimitInput = document.getElementById("maximum_payment_limit");

        maximumPaymentLimitInput.addEventListener("input", function () {
            const value = this.value;
            if (!validateMaximumPaymentLimit(value)) {
                // Display an error message or perform other actions for invalid values
            }
        });
    });
</script>
<!-- Include jQuery -->
<script src="https://code.jquery.com/jquery-3.6.4.min.js"></script>

<script>
    // Get references to the dropdown and input fields
    var scustomer = document.getElementById("first_name");
    var fromInput = document.getElementById("display_name_input");

    // Add an event listener to the dropdown to update the input field when it changes
    scustomer.addEventListener("change", function () {
        var selectedcustomer = scustomer.value;
        fromInput.value = selectedcustomer;
    });
</script>



<script>
    document.addEventListener("DOMContentLoaded", function () {
        // Your existing code for other fields here...

        // Function to validate Total Supply Value
        function validateTotalSupplyValue(value) {
            if (value.trim() === '') {
                return true; // Allow empty value
            }

            // Add any additional validation logic if needed
            return true; // Return true for non-empty values (add validation logic here if needed)
        }

        // Function to validate Maximum Payment Limit
        function validateMaximumPaymentLimit(value) {
            if (value.trim() === '') {
                return true; // Allow empty value
            }

            // Add any additional validation logic if needed
            return true; // Return true for non-empty values (add validation logic here if needed)
        }

        const totalSupplyValueInput = document.getElementById("total_supply_value");
        const maximumPaymentLimitInput = document.getElementById("maximum_payment_limit");

        totalSupplyValueInput.addEventListener("input", function () {
            const value = this.value;
            if (!validateTotalSupplyValue(value)) {
                // Display an error message or perform other actions for invalid values
            }
        });

        maximumPaymentLimitInput.addEventListener("input", function () {
            const value = this.value;
            if (!validateMaximumPaymentLimit(value)) {
                // Display an error message or perform other actions for invalid values
            }
        });
    });
</script>

<script>
    document.addEventListener("DOMContentLoaded", function () {
        const ifscInput = document.getElementById("ifscInput");
        const ifscError = document.getElementById("ifscError");

        // Function to validate an IFSC code
        function validateIFSC(ifsc) {
            if (ifsc.trim() === '') {
                return true;  // Empty value is allowed
            }

            const ifscRegex = /^[A-Za-z]{4}[0-9]{7}$/; // Regular expression for IFSC
            return ifscRegex.test(ifsc);
        }

        ifscInput.addEventListener("input", function () {
            const ifscValue = this.value.trim().toUpperCase(); // Remove whitespace and convert to uppercase
            if (!validateIFSC(ifscValue)) {
                ifscError.textContent = 'Enter a valid IFSC code (e.g., ABCD0123456).';
            } else {
                ifscError.textContent = '';
            }
        });
    });
</script>


<script>
    document.addEventListener("DOMContentLoaded", function () {
        const mobileInput = document.getElementById("mobile");
        const mobileError = document.getElementById("mobileError");

        mobileInput.addEventListener("input", function () {
            const mobileValue = this.value;
            const mobileRegex = /^[0-9]{10}$/; // Regular expression for a 10-digit mobile number

            if (!mobileRegex.test(mobileValue)) {
                mobileError.textContent = "Enter a valid 10-digit mobile number.";
            } else {
                mobileError.textContent = "";
            }
        });
    });
</script>

<script>
    document.addEventListener("DOMContentLoaded", function () {
        const gstNoInput = document.getElementById("gst_no");
        const gstNoError = document.getElementById("gstNoError");

        function validateGSTNo(gstNoValue) {
            if (gstNoValue.trim() === '') {
                return true;  // Allow empty value
            }

            const gstNoRegex = /^([0-9]{2}[A-Z]{5}[0-9]{4}[A-Z]{1}[1-9A-Z]{1}[Z]{1}[0-9A-Z]{1})$/;

            return gstNoRegex.test(gstNoValue);
        }

        gstNoInput.addEventListener("input", function () {
            const gstNoValue = this.value;

            if (!validateGSTNo(gstNoValue)) {
                gstNoError.textContent = "Enter a valid GST number (e.g., 12ABCDE1234F1Z5).";
            } else {
                gstNoError.textContent = "";
            }
        });
    });
</script>
<script>
    document.addEventListener("DOMContentLoaded", function () {
        const panInput = document.getElementById("pan_no");
        const panError = document.getElementById("panError");

        // Function to validate a PAN number
        function validatePAN(pan) {
            if (pan.trim() === '') {
                return true;  // Allow empty value
            }

            const panRegex = /^[A-Z]{5}[0-9]{4}[A-Z]$/; // Regular expression for PAN
            return panRegex.test(pan);
        }

        panInput.addEventListener("input", function () {
            const panValue = this.value.trim().toUpperCase(); // Remove whitespace and convert to uppercase
            if (!validatePAN(panValue)) {
                panError.textContent = 'Enter a valid PAN number (e.g., ABCDE1234F).';
            } else {
                panError.textContent = '';
            }
        });
    });
</script>

{% endblock custom_js %}
{% endblock main_content %}