{% extends 'dashboard/base_template.html' %}
{% block title %}
Ecoway
{% endblock %}

{% block custom_css %}


{% endblock custom_css %}

{% block main_content %}
<div class="page-wrapper" style="min-height: 432px;">
    <div class="content container-fluid">

        <div class="page-header">
            <div class="row">
                <div class="col-sm-12">
                    <h3 class="page-title"> <a href="{% url 'department_list' %}"style="margin-right: 10px;"><i class="fa fa-arrow-left" data-bs-toggle="tooltip" title="" data-bs-original-title="Back" aria-label="fa fa-arrow-left"></i></a> Update Designation</h3>
                </div>
            </div>
        </div>

        <div class="row">
            <div class="col-md-12">
                <div class="card">
                    <div class="card-body">
                        <form method="post" id="godown_form" action="{% url 'edit_department' id=department_data.id %}" autocomplete="off">
                            {% csrf_token %}
                            <div class="row">
                                <div class="col-md-6">
                                    <div class="form-group">
                                        <label>Name <span style="color: red;">*</span></label>
                                        <input type="text" name="name" value="{{department_data.name}}" id="name" 
                                        class="form-control" required 
                                        maxlength="50" 
                                        pattern="[a-zA-Z0-9\s\-_]+" 
                                        title="Department name must be 50 characters or less.">
                                    </div>
                                </div>

                            </div>

                            <div class="row col-sm-6 p-5">
                                <div class="success_message row"></div>
                            </div>

                            <div class="text-end mt-4">
                                <button type="submit" id="btn_submit" name="btn_submit" class="btn btn-primary">Save</button>
                                <a href="{% url 'department_list' %}" class="btn btn-primary">Cancel</a>
                            </div>
                        </form>

                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock main_content %}
