{% extends 'dashboard/base_template.html' %}
{% block title %}
CRM
{% endblock %}

{% block custom_css %}


{% endblock custom_css %}

{% block main_content %}


<div class="page-wrapper" style="padding-top: 0px;">
    <div class="content container-fluid">
        <div class="page-header">
            <div class="row">
                <div class="col-sm-12">
                    <h3 class="page-title">
                        <a href="{% url 'fn_company_profile_List' %}" style="margin-right: 10px;">
                            <i class="fa fa-arrow-left" data-bs-toggle="tooltip" title="" data-bs-original-title="Back" aria-label="fa fa-arrow-left"></i>
                        </a>
                        Edit Company Profile
                    </h3>
                </div>
            </div>
        </div>
        <form method="post" enctype="multipart/form-data">
            <!-- <img src="http://example.com/{{ employee.upload_photo }}" alt="Employee Photo"> -->

            {% csrf_token %}
            <div class="row">
                <div class="col-md-12">
                    <div class="card">
                        <div class="card-body">
                            <form method="post" id="vendor_form" action="" autocomplete="off" enctype="multipart/form-data  ">
                                <div class="row">
                                    <div class="col-md-3">
                                        <div class="form-group">
                                            <label>Profile Photo</label>
                                            <input type="file" name="profile_photo" value="{{ form.profile_photo }}" accept="image/*">
                                        </div>
                                                                            
                                                {% if form.profile_photo %}
                                                <!-- <a href="{{ form.upload_photo.url }}"></a> -->
                                                <img src="{{ form.profile_photo.url }}" alt="Profile Photo" style="width: 100px; ">
                                            {% endif %}
                                        </div>
                                        
                                    <div class="col-md-3">
                                        <div class="form-group">
                                        <label>Company Name</label>
                                            <input type="text" class="form-control" name="company_name" id="company_name" value="{{form.company_name}}"  placeholder="Company Name" required>
                                        </div>
                                     </div>  
                                     <div class="col-md-3">
                                        <div class="form-group">
                                            <label>Organization Type</label>
                                            <select class="form-control" name="organization_type" id="organization_type">
                                                <option>{{form.organization_type}}</option>
                                                <option value="Partnership">Partnership</option>
                                                <option value="Proprietor">Proprietor</option>
                                                <option value="LLP">LLP</option>
                                                <option value="Private Limited Company">Private Limited Company</option>
                                                <option value="Public Company">Public Company</option>
                                                <option value="Other">Other</option>
                                            </select>
                                        </div>
                                    </div>
                                    <div class="col-md-3">
                                        <div class="form-group">
                                            <label>Fiscal Year</label>
                                            <select class="form-control" name="fiscal_year" id="fiscal_year">
                                                <option>{{form.fiscal_year}}</option>
                                                <option value="February-January">February-January</option>
                                                <option value="March-February">March-February</option>
                                                <option value="April-March">April-March</option>
                                                <option value="May-April">May-April</option>
                                                <option value="June-May">June-May</option>
                                                <option value="July-June">July-June</option>
                                                <option value="August-July">August-July</option>
                                                <option value="September-August">September-August</option>
                                                <option value="October-September">October-September</option>
                                                <option value="November-October">November-October</option>
                                                <option value="December-November">December-November</option>
                                                <option value="January-December">January-December</option>
                                            </select>              
                                        </div>
                                    </div>             
                                  
                                 
                                   
                                     <div class="col-md-3">
                                        <div class="form-group">
                                            <label>Industry</label>
                                            <select class="form-control" name="industry" id="industry">
                                                <option>{{form.industry}}</option>
                                                <option value="Accounting Services">Accounting Services</option>
                                                <option value="Administrative Services">Administrative Services</option>
                                                <option value="Advertising">Advertising</option>
                                                <option value="Agriculture, Farming, Fishing and Forestry An">Agriculture, Farming, Fishing and Forestry An</option>
                                                <option value="Amusement, Gambling, and Recreation">Amusement, Gambling, and Recreation</option>
                                                <option value="Architectural">Architectural</option>
                                                <option value="CA/TAX Consultant">CA/TAX Consultant</option>
                                                <option value="Charity,Nonprofits and Similar Groups">Charity,Nonprofits and Similar Groups</option>
                                                <option value="Computer Systems Design and Related Services">Computer Systems Design and Related Services</option>
                                                <option value="Construction Land and Property including Mana">Construction Land and Property including Mana</option>
                                                <option value="Creative Design">Creative Design</option>
                                                <option value="Design and Related Services">Design and Related Services</option>
                                                <option value="E-Commerce">E-Commerce</option>
                                                <option value="Engineering">Engineering</option>
                                                <option value="Finance">Finance</option>
                                                <option value="Food &amp;amp; Beverage Establishments">Food &amp;amp; Beverage Establishments</option>
                                                <option value="General Service-Based Business">General Service-Based Business</option>
                                                <option value="Hair Salons, Barbers and Spas">Hair Salons, Barbers and Spas</option>
                                                <option value="Healthcare Services Legal Services">Healthcare Services Legal Services</option>
                                                <option value="Human Resources and Placement Consulting">Human Resources and Placement Consulting</option>
                                                <option value="Insurance">Insurance</option>
                                                <option value="IT &amp;Telecommunications">IT &amp;Telecommunications</option>
                                                <option value="Landscaping and Gardening Services">Landscaping and Gardening Services</option>
                                                <option value="Learning Institutes">Learning Institutes</option>
                                                <option value="Mail Order and Online Educational Services">Mail Order and Online Educational Services</option>
                                                <option value="Manufacturing and Mining">Manufacturing and Mining</option>
                                                <option value="Media and Marketing Services Consulting">Media and Marketing Services Consulting</option>
                                                <option value="Other">Other</option>
                                                <option value="Performing Arts">Performing Arts</option>
                                                <option value="Professional and Technical Services">Professional and Technical Services</option>
                                                <option value="Retail Shops">Retail Shops</option>
                                                <option value="Spectator Sports,and Related Industries">Spectator Sports,and Related Industries</option>
                                                <option value="Transportation and Warehousing">Transportation and Warehousing</option>
                                                <option value="Travel and Tourism Services">Travel and Tourism Services</option>
                                                <option value="Vehicle Sales, Maintenance and Repairs Care G">Vehicle Sales, Maintenance and Repairs Care G</option>
                                                <option value="Wholesale Trade and Distributors">Wholesale Trade and Distributors</option>
                                            </select>                               
                                        </div>
                                    </div>
                                    <div class="col-md-3">
                                        <div class="form-group">
    <label>Currency</label>
    <select class="form-control" name="currency" id="currency">
        <option value="">Select Currency</option>
        <option value="AED" {% if form.currency == "AED" %}selected{% endif %}>AED (د.إ) - Dirham</option>
        <option value="AFN" {% if form.currency == "AFN" %}selected{% endif %}>AFN (؋) - Afghanis</option>
        <option value="ALL" {% if form.currency == "ALL" %}selected{% endif %}>ALL (Lek) - Leke</option>
        <option value="ANG" {% if form.currency == "ANG" %}selected{% endif %}>ANG (ƒ) - Guilders</option>
        <option value="ARS" {% if form.currency == "ARS" %}selected{% endif %}>ARS ($) - Pesos</option>
        <option value="AUD" {% if form.currency == "AUD" %}selected{% endif %}>AUD ($) - Dollars</option>
        <option value="AWG" {% if form.currency == "AWG" %}selected{% endif %}>AWG (ƒ) - Guilders</option>
        <option value="AZN" {% if form.currency == "AZN" %}selected{% endif %}>AZN (ман) - Manats</option>
        <option value="BAM" {% if form.currency == "BAM" %}selected{% endif %}>BAM (KM) - Convertible Marka</option>
        <option value="BDT" {% if form.currency == "BDT" %}selected{% endif %}>BDT (৳) - Taka</option>
        <option value="BGN" {% if form.currency == "BGN" %}selected{% endif %}>BGN (лв) - Leva</option>
        <option value="BHD" {% if form.currency == "BHD" %}selected{% endif %}>BHD (ب.د) - Dinar</option>
        <option value="BMD" {% if form.currency == "BMD" %}selected{% endif %}>BMD ($) - Dollars</option>
        <option value="BRL" {% if form.currency == "BRL" %}selected{% endif %}>BRL (R$) - Reais</option>
        <option value="CAD" {% if form.currency == "CAD" %}selected{% endif %}>CAD ($) - Dollars</option>
        <option value="CHF" {% if form.currency == "CHF" %}selected{% endif %}>CHF (CHF) - Francs</option>
        <option value="CNY" {% if form.currency == "CNY" %}selected{% endif %}>CNY (¥) - Yuan</option>
        <option value="CZK" {% if form.currency == "CZK" %}selected{% endif %}>CZK (Kč) - Koruny</option>
        <option value="DKK" {% if form.currency == "DKK" %}selected{% endif %}>DKK (kr) - Kroner</option>
        <option value="EUR" {% if form.currency == "EUR" %}selected{% endif %}>EUR (€) - Euro</option>
        <option value="GBP" {% if form.currency == "GBP" %}selected{% endif %}>GBP (£) - Pounds</option>
        <option value="INR" {% if form.currency == "INR" %}selected{% endif %}>INR (₹) - Rupees</option>
        <option value="JPY" {% if form.currency == "JPY" %}selected{% endif %}>JPY (¥) - Yen</option>
        <option value="KRW" {% if form.currency == "KRW" %}selected{% endif %}>KRW (₩) - Won</option>
        <option value="NGN" {% if form.currency == "NGN" %}selected{% endif %}>NGN (₦) - Naira</option>
        <option value="NOK" {% if form.currency == "NOK" %}selected{% endif %}>NOK (kr) - Krone</option>
        <option value="PKR" {% if form.currency == "PKR" %}selected{% endif %}>PKR (₨) - Rupees</option>
        <option value="SEK" {% if form.currency == "SEK" %}selected{% endif %}>SEK (kr) - Kronor</option>
        <option value="SGD" {% if form.currency == "SGD" %}selected{% endif %}>SGD ($) - Dollars</option>
        <option value="USD" {% if form.currency == "USD" %}selected{% endif %}>USD ($) - Dollars</option>
        <option value="ZAR" {% if form.currency == "ZAR" %}selected{% endif %}>ZAR (R) - Rand</option>
    </select>
</div>

                                   
                                    </div>


                                     <div class="col-md-3">
                                        <div class="form-group">
                                        <label>Address 1</label>
                                           <input type="text" class="form-control" name="address1" id="address1" value="{{form.address1}}" placeholder="Address 1">
                                        </div>
                                     </div> 
                                     <div class="col-md-3">
                                        <div class="form-group">
                                        <label>Address 2</label>
                                           <input type="text" class="form-control" name="address2" id="address2" value="{{form.address2}}" placeholder="Address 2">
                                        </div>
                                     </div>
                                     <div class="col-md-3">
                                        <div class="form-group">
                                        <label>Pincode</label>
                                           <input type="text" class="form-control" name="pincode" id="pincode" value="{{form.pincode}}" placeholder="Pincode">
                                        </div>
                                     </div> 
                                     <div class="col-md-3">
                                        <div class="form-group">
                                        <label>Email ID</label>
                                             <input type="email" class="form-control" name="email" id="email" value="{{form.email}}"  placeholder="Email Address" required>
                                          </div>
                                    </div>
                                     <div class="col-md-3">
                                        <div class="form-group">
                                        <label>Phone</label>
                                           <!-- <input type="text" class="form-control" name="phone" id="phone" value="{{form.phone}}" placeholder="Phone"> -->
                                           <input type="text" class="form-control" name="phone" id="phone" 
                                                value="{{ form.phone }}" placeholder="Phone"
                                                pattern="^[0-9]{10}$" title="Enter a 10-digit phone number" required>

                                        </div>
                                     </div>
                                
                                    <div class="col-md-3">
                                        <div class="form-group">
                                            <label>Upload Sign</label>
                                            <input type="file" id="upload_sign" name="upload_sign" accept="image/*">
                                        </div>
                                                                            
                                                {% if form.upload_sign %}
                                                <!-- <a href="{{ form.upload_photo.url }}"></a> -->
                                                <img src="{{ form.upload_sign.url }}" alt="Upload Sign" style="width: 100px;">
                                            {% endif %}
                                    </div>
                                    <div class="col-md-3">
                                        <div class="form-group">
                                            <label>Upload QR Code</label>
                                            <input type="file" id="upload_QR_code" name="upload_QR_code" accept="image/*">
                                        </div>
                                                                            
                                                {% if form.upload_QR_code %}
                                                <!-- <a href="{{ form.upload_photo.url }}"></a> -->
                                                <img src="{{ form.upload_QR_code.url }}" alt="Upload QR Code" style="width: 100px;">
                                            {% endif %}
                                    </div>
                                        
                                     <div class="col-md-3">
                                        <div class="form-group">
                                            <label>Status</label>
                                            <select class="form-control " name="status">
                                                <option>{{form.status}}</option>
                                                <option value="Active">Active</option>
                                                <option value="Inactive">Inactive</option>
                                            </select>
                                        </div>
                                     </div>

                                     <div class="col-md-3">
    <div class="form-group">
        <label>GST Number</label>
        <input type="text" class="form-control" name="gst_number" id="gst_number" value="{{form.gst_number}}" placeholder="GST Number">
        <span id="gstNoError" style="color: red;"></span>
    </div>
</div>

<div class="col-md-3">
    <div class="form-group">
        <label>PAN Number</label>
        <input type="text" class="form-control" name="pan_number" id="pan_number" value="{{form.pan_number}}" placeholder="PAN Number">
        <span id="panError" style="color: red;"></span>
    </div>
</div>

                                     <div class="col-md-3">
                                        <div class="form-group">
                                        <label>TAN Number</label>
                                           <input type="text" class="form-control" name="tan_number" id="tan_number" value="{{form.tan_number}}" placeholder="TAN Number">
                                        </div>
                                     </div>
                                     <div class="col-md-3">
                                        <div class="form-group">
                                        <label>CIN Number</label>
                                           <input type="text" class="form-control" name="cin_number" id="cin_number" value="{{form.cin_number}}" placeholder="CIN Number">
                                        </div>
                                     </div>
                                    <div class="col-md-4">
                                        <div class="form-group">
                                        <label>Website</label>
                                           <input type="text" class="form-control" value="{{form.com_website}}"  name="com_website" id="com_website" placeholder="Website">
                                        </div>
                                     </div>          
                                      

                                 
                                </div>
                                <div class="add-customer-btns text-end">
                                    <a href="{% url 'fn_company_profile_List' %}" class="btn customer-btn-cancel btn-outline-danger me-1 btn-rounded">Cancel</a>
                                    <button type="submit" class="btn btn-outline-primary me-1 btn-rounded">Save Company Profile</button>
                                </div>
                                <div class="row col-sm-6 p-5">
                                    <div class="success_message row"></div>
                                </div>
                            </form>
                        </div>
                    </div>
                </div>
            </div>
        </form>
    </div>
</div>



{% block custom_js %}



<script>
   document.addEventListener("DOMContentLoaded", function() {
       // Your existing code for other fields here...
       
       // Function to validate Maximum Payment Limit
       function validateMaximumPaymentLimit(value) {
           // Allow empty value
           if (value.trim() === '') {
               return true;
           }

           // Add any additional validation logic if needed
           return true; // Return true for non-empty values (add validation logic here if needed)
       }

       const maximumPaymentLimitInput = document.getElementById("maximum_payment_limit");
       
       maximumPaymentLimitInput.addEventListener("input", function() {
           const value = this.value;
           if (!validateMaximumPaymentLimit(value)) {
               // Display an error message or perform other actions for invalid values
           }
       });
   });
</script>
<!-- Include jQuery -->
<script src="https://code.jquery.com/jquery-3.6.4.min.js"></script>

<script>
   // Get references to the dropdown and input fields
   var scustomer = document.getElementById("first_name");
   var fromInput = document.getElementById("display_name_input");

   // Add an event listener to the dropdown to update the input field when it changes
   scustomer.addEventListener("change", function () {
       var selectedcustomer = scustomer.value;
       fromInput.value = selectedcustomer;
   });
</script>



<script>
   document.addEventListener("DOMContentLoaded", function() {
       // Your existing code for other fields here...
       
       // Function to validate Total Supply Value
       function validateTotalSupplyValue(value) {
           if (value.trim() === '') {
               return true; // Allow empty value
           }
           
           // Add any additional validation logic if needed
           return true; // Return true for non-empty values (add validation logic here if needed)
       }

       // Function to validate Maximum Payment Limit
       function validateMaximumPaymentLimit(value) {
           if (value.trim() === '') {
               return true; // Allow empty value
           }

           // Add any additional validation logic if needed
           return true; // Return true for non-empty values (add validation logic here if needed)
       }

       const totalSupplyValueInput = document.getElementById("total_supply_value");
       const maximumPaymentLimitInput = document.getElementById("maximum_payment_limit");
       
       totalSupplyValueInput.addEventListener("input", function() {
           const value = this.value;
           if (!validateTotalSupplyValue(value)) {
               // Display an error message or perform other actions for invalid values
           }
       });
       
       maximumPaymentLimitInput.addEventListener("input", function() {
           const value = this.value;
           if (!validateMaximumPaymentLimit(value)) {
               // Display an error message or perform other actions for invalid values
           }
       });
   });
</script>

   <script>
      document.addEventListener("DOMContentLoaded", function() {
         const ifscInput = document.getElementById("ifscInput");
         const ifscError = document.getElementById("ifscError");
   
         // Function to validate an IFSC code
         function validateIFSC(ifsc) {
            if (ifsc.trim() === '') {
               return true;  // Empty value is allowed
            }
   
            const ifscRegex = /^[A-Za-z]{4}[0-9]{7}$/; // Regular expression for IFSC
            return ifscRegex.test(ifsc);
         }
   
         ifscInput.addEventListener("input", function() {
            const ifscValue = this.value.trim().toUpperCase(); // Remove whitespace and convert to uppercase
            if (!validateIFSC(ifscValue)) {
               ifscError.textContent = 'Enter a valid IFSC code (e.g., ABCD0123456).';
            } else {
               ifscError.textContent = '';
            }
         });
      });
   </script>
   

<script>
  document.addEventListener("DOMContentLoaded", function() {
      const mobileInput = document.getElementById("mobile");
      const mobileError = document.getElementById("mobileError");

      mobileInput.addEventListener("input", function() {
          const mobileValue = this.value;
          const mobileRegex = /^[0-9]{10}$/; // Regular expression for a 10-digit mobile number

          if (!mobileRegex.test(mobileValue)) {
              mobileError.textContent = "Enter a valid 10-digit mobile number.";
          } else {
              mobileError.textContent = "";
          }
      });
  });
</script>


<script>
document.addEventListener("DOMContentLoaded", function () {
    const gstInput = document.getElementById("gst_number");
    const panInput = document.getElementById("pan_number");
    const gstError = document.getElementById("gstNoError");
    const panError = document.getElementById("panError");

    // GST Validation
    function validateGST(gst) {
        if (gst.trim() === '') return true; // allow empty GST
        const gstRegex = /^[0-9]{2}[A-Z]{5}[0-9]{4}[A-Z]{1}[1-9A-Z]{1}Z[0-9A-Z]{1}$/;
        return gstRegex.test(gst);
    }

    // PAN Validation
    function validatePAN(pan) {
        const panRegex = /^[A-Z]{5}[0-9]{4}[A-Z]{1}$/;
        return panRegex.test(pan);
    }

    // Auto-fill PAN from GST
    gstInput.addEventListener("input", function () {
        const gstVal = this.value.trim().toUpperCase();
        this.value = gstVal;

        // GST validation
        if (!validateGST(gstVal)) {
            gstError.textContent = "Enter a valid GST number (e.g., 12ABCDE1234F1Z5).";
        } else {
            gstError.textContent = "";
        }

        // Auto-generate PAN if GST valid and has at least 12 chars
        if (gstVal.length >= 12) {
            const extractedPan = gstVal.substr(2, 10);
            panInput.value = extractedPan;
            panError.textContent = validatePAN(extractedPan) ? "" : "Invalid PAN from GST.";
        }
    });

    // PAN validation
    panInput.addEventListener("input", function () {
        const panVal = this.value.trim().toUpperCase();
        this.value = panVal;

        if (!validatePAN(panVal)) {
            panError.textContent = "Enter a valid PAN number (e.g., ABCDE1234F).";
        } else {
            panError.textContent = "";
        }
    });
});
</script>
{% endblock custom_js %}    
{% endblock main_content %}

    
