{% extends 'dashboard/base_template.html' %}
{% block title %}
Ecoway
{% endblock %}

{% block custom_css %}

<style>
    /* Inactive tab styles */
    .nav-tabs.nav-tabs-bottom .nav-item .nav-link {
        color: #ccc;
        /* Faint gray color for inactive tabs */
    }

    /* Active tab style */
    .nav-tabs.nav-tabs-bottom .nav-item .nav-link.active {
        color: #000;
        /* Black color for active tab */
    }
</style>
{% endblock custom_css %}

{% block main_content %}
<div class="page-wrapper" style="padding-top:0px;">
    <div class="content container-fluid">
<div class="row">
    <div class="col-sm-12">
        <h3 class="page-title">
            <a href="{% url 'inventory_list_data' %}" class="me-2">
                <i class="fa fa-arrow-left" data-bs-toggle="tooltip" title="Back" aria-label="Back"></i>
            </a>
            Add Inventory
        </h3>
    </div>
</div>

<div class="row">
    <div class="col-md-12">
        <div class="card" data-select2-id="9">
            <div class="card-body" data-select2-id="8">
                <form method="post" id="inventory_form" action="{% url 'add_inventory' %}" enctype="multipart/form-data" autocomplete="off" novalidate>
                    {% csrf_token %}

                    <!-- Inventory Basic Details -->
                    <div class="row">
                        <!-- Item Description -->
                        <div class="col-md-4">
                            <div class="form-group">
                                <label>Item Description <span class="text-danger">*</span></label>
                                <input class="form-control" type="text" name="inventory_name" id="name" required>
                                <div class="error-message text-danger" id="inventory_name_error" style="display:none;">Please enter the item description.</div>
                            </div>
                        </div>

                        <!-- Company Name -->
                        <div class="col-md-4">
                            <div class="form-group">
                                <label>Company Name</label>
                                <select class="form-control" name="company_name" id="company_name">
                                    <option value="0" hidden>Select Company Name</option>
                                    {% for i in company_name %}
                                        <option value="{{ i.id }}">{{ i.company_name }}</option>
                                    {% endfor %}
                                </select>
                                <div class="error-message text-danger" id="comapny_error" style="display:none;">Please select a company name.</div>
                            </div>
                        </div>

                        <!-- Item Code -->
                        <div class="col-md-4">
                            <div class="form-group">
                                <label>Item Code <span class="text-danger">*</span></label>
                                <input class="form-control" type="text" name="item_code" id="item_code" required>
                                <div class="error-message text-danger" id="item_code_error" style="display:none;">Please enter the item code.</div>
                            </div>
                        </div>

                        <!-- Unit -->
                        <div class="col-md-4">
                            <div class="form-group">
                                <label>Unit <span class="text-danger">*</span></label>
                                <select class="form-control" name="units" id="unit" required>
                                    <option value="" hidden>Select Unit</option>
                                    <!-- Unit Options -->
                                    {% comment %} Shortened for brevity. Keep all your options here. {% endcomment %}
                                    <option value="kg">Kilogram (kg)</option>
                                    <option value="Nos">Nos</option>
                                </select>
                                <div class="error-message text-danger" id="unit_error" style="display:none;">Please select a unit.</div>
                            </div>
                        </div>

                        <!-- Type -->
                        <div class="col-md-4">
                            <div class="form-group">
                                <label>Type</label>
                                <select class="form-control" name="type" id="good_type">
                                    <option value="Goods">Goods</option>
                                    <option value="Service">Services</option>
                                </select>
                            </div>
                        </div>

                        <!-- Tax Type -->
                        <div class="col-md-4">
                            <div class="form-group">
                                <label>Tax Type</label>
                                <select class="form-control" name="tax_type" id="tax_type">
                                    <option value="" hidden>Select Tax Type</option>
                                    <option value="Non GST">Non GST</option>
                                    <option value="Taxable" selected>Taxable</option>
                                </select>
                            </div>
                        </div>

                        <!-- HSN/SAC -->
                        <div class="col-md-4">
                            <div class="form-group">
                                <label>HSN/SAC <span class="text-danger">*</span></label>
                                <input class="form-control" type="number" name="hsn" oninput="this.value = this.value.replace(/[^0-9]/g, '');" required>
                            </div>
                        </div>

                        <!-- SKU -->
                        <div class="col-md-4">
                            <div class="form-group">
                                <label>SKU</label>
                                <input class="form-control" type="number" name="sku" id="sku" value="0" pattern="\d{9}" oninput="this.value = this.value.replace(/[^0-9]/g, '');">
                                <div class="error-message text-danger" id="sku_error" style="display:none;">Please enter a valid SKU.</div>
                            </div>
                        </div>

                        <!-- Default Discount -->
                        <div class="col-md-4">
                            <div class="form-group">
                                <label>Default Discount (%)</label>
                                <input class="form-control" type="text" name="default_discount" id="default_discount" pattern="\d{1,5}(\.\d{0,2})?" maxlength="3" oninput="this.value = this.value.replace(/[^0-9.]/g, '');">
                                <div class="error-message text-danger" id="default_discount_error" style="display:none;">Please enter a valid discount.</div>
                            </div>
                        </div>
                    </div>

                    <!-- Sales Information -->
                    <div class="row pt-3">
                        <div class="col-lg-3">
                            <h5>
                                <input type="checkbox" name="sales_information" id="sales_information" value="sales_information" style="vertical-align: middle;">
                                Sales Information
                            </h5>
                        </div>

                        <div class="col-md-2 sales_information hidden">
                            <div class="form-group">
                                <label>Rate <span class="text-danger">*</span></label>
                                <input class="form-control" type="number" name="sale_rate" id="sale_rate" value="0" oninput="this.value = this.value.replace(/[^0-9]/g, '');">
                            </div>
                        </div>

                        <div class="col-md-3 sales_information hidden">
                            <div class="form-group">
                                <label>Description</label>
                                <textarea class="form-control" name="sale_description" id="sale_description"></textarea>
                            </div>
                        </div>

                        <div class="col-md-3 sales_information hidden" hidden>
                            <div class="form-group">
                                <label>Sales Account</label>
                                <select class="form-control" name="sales_account" id="sales_account">
                                    <option value="">Select Account</option>
                                    <optgroup label="Income">
                                        <option value="Sales">Sales</option>
                                        <!-- Other options -->
                                    </optgroup>
                                </select>
                            </div>
                        </div>
                    </div>

                    <!-- Purchase Information -->
                    <div class="row pt-3">
                        <div class="col-lg-3">
                            <h5>
                                <input type="checkbox" name="purchase_information" id="purchase_information" value="purchase_information" style="vertical-align: middle;">
                                Purchase Information
                            </h5>
                        </div>

                        <div class="col-md-2 purchase_information hidden">
                            <div class="form-group">
                                <label>Rate</label>
                                <input class="form-control" type="number" name="purchase_rate" id="purchase_rate" value="0" oninput="this.value = this.value.replace(/[^0-9]/g, '');">
                            </div>
                        </div>

                        <div class="col-md-3 purchase_information hidden">
                            <div class="form-group">
                                <label>Purchase Account</label>
                                <select class="form-control" name="purchase_account" id="purchase_account">
                                    <option value="" hidden>Select Account</option>
                                    <optgroup label="Expense">
                                        <option value="Purchase Account">Purchase Account</option>
                                        <option value="Purchase Account">Purchase Account</option>
                                         <option value="Bank Fees and Charges">Bank Fees and Charges</option>
                                         <option value="Printing and Stationery">Printing and Stationery</option>
                                         <option value="Salaries and Employee Wages">Salaries and Employee Wages</option>
                                         <option value="Meals and Entertainment">Meals and Entertainment</option>
                                         <option value="Depreciation Expense">Depreciation Expense</option>
                                         <option value="Consultant Expense">Consultant Expense</option>
                                         <option value="Repairs and Maintenance">Repairs and Maintenance</option>
                                         <option value="Other Expenses">Other Expenses</option>
                                         <option value="Lodging">Lodging</option>
                                         <option value="Bad Debt">Bad Debt</option>
                                         <option value="Postage">Postage</option>
                                         <option value="Advertising And Marketing">Advertising And Marketing</option>
                                         <option value="Credit Card Charges">Credit Card Charges</option>
                                         <option value="Travel Expense">Travel Expense</option>
                                         <option value="Telephone Expense">Telephone Expense</option>
                                         <option value="Automobile Expense">Automobile Expense</option>
                                         <option value="IT and Internet Expenses">IT and Internet Expenses</option>
                                         <option value="Rent Expense">Rent Expense</option>
                                         <option value="Janitorial Expense">Janitorial Expense</option>
                                         <option value="Office Supplies">Office Supplies</option>
                                         <option value="Custom Duty">Custom Duty</option>
                                         <option value="PETROL EXPENSE">PETROL EXPENSE</option>
                                         <option value="COURIER EXPENSE">COURIER EXPENSE</option>
                                         <option value="Office Expenses">Office Expenses</option>
                                         <option value="COMMISION">COMMISION</option>
                                         <option value="FIX ASSET PURCHASE">FIX ASSET PURCHASE</option>
                                         <option value="BANK COMMISION">BANK COMMISION</option>
                                         <option value="MARKETING EXPENSE">MARKETING EXPENSE</option>
                                         <option value="OTHER PURCHASE">OTHER PURCHASE</option>
                                         <option value="MISC EXPENSE">MISC EXPENSE</option>
                                         <option value="OTHER INDIRECT EXPENSE">OTHER INDIRECT EXPENSE</option>                                    </optgroup>
                                </select>
                            </div>
                        </div>

                        <div class="col-md-3 purchase_information hidden">
                            <div class="form-group">
                                <label>Description</label>
                                <textarea class="form-control" name="purchase_description" id="purchase_description"></textarea>
                            </div>
                        </div>
                    </div>

                    <!-- Trackable Item -->
                    <div class="row pt-3">
                        <div class="col-lg-3">
                            <h5>
                                <input type="checkbox" name="trackable_item" id="trackable_item" value="trackable_item" style="vertical-align: middle;">
                                It's a trackable item
                            </h5>
                        </div>

                       

                                <div class="col-lg-9 pt11 trackable_item hidden">
                                    <div class="row">
                                        <div class="col-md-3">
                                            <div class="form-group">
                                                <label>Opening Stock {Qty.}</label>
                                                <input class="form-control" type="number" name="opening_stock"
                                                    id="opening_stock" value="0"
                                                    oninput="this.value = this.value.replace(/[^0-9]/g, '');">
                                                <div class="error-message" id="opening_stock_error"
                                                    style="display:none;color:red;">Please enter the opening stock
                                                    quantity.</div>
                                            </div>
                                        </div>
                                        <div class="col-md-3">
                                            <div class="form-group">
                                                <label>Opening Rate</label>
                                                <input class="form-control" type="number" name="opening_rate"
                                                    id="opening_rate" value="0"
                                                    oninput="this.value = this.value.replace(/[^0-9]/g, '');">
                                                <div class="error-message" id="opening_rate_error"
                                                    style="display:none;color:red;">Please enter the opening rate.</div>
                                            </div>
                                        </div>
                                        <div class="col-md-3" hidden>
                                            <div class="form-group">
                                                <label>Godown</label>
                                                <select class="form-control" name="godown" id="godown">
                                                    <option value="" hidden>Select Godown</option>
                                                    {% for i in godown_name %}
                                                    <option value="{{i.city_name}}">{{i.city_name}}</option>
                                                    {% endfor %}
                                                </select>
                                                <div class="error-message" id="godown_error"
                                                    style="display:none;color:red;">Please select a godown.</div>
                                            </div>
                                        </div>
                                        <div class="col-md-3">
                                            <div class="form-group">
                                                <label>Godown</label>
                                                <select class="form-control" name="inv_godown" id="godown">
                                                    <option value="0" hidden>Select Godown</option>
                                                    {% for i in godown_name %}
                                                    <option value="{{i.id}}">{{i.city_name}}</option>
                                                    {% endfor %}
                                                </select>
                                                <div class="error-message" id="godown_error"
                                                    style="display:none;color:red;">Please select a godown.</div>
                                            </div>
                                        </div>
                                    </div>
                                </div>


                                <!-- Submit Button -->
                                <div class="col-md-12 pt11">
                                    <div class="form-group">
                                        <button type="submit" class="btn btn-primary" id="submit">Submit</button>
                                        <a href="{% url 'inventory_list_data' %}"
                                            class="btn customer-btn-cancel btn-outline-danger me-1 btn-rounded">Cancel</a>

                                    </div>
                                </div>
                            </div>
                        </form>

                    </div>
                </div>
            </div>


            {% endblock main_content %}
            {% block custom_js %}

            <!-- omkar code  -->
            <script type="text/javascript">
                $(document).ready(function () {
                    // Initialize states on page load
                    if ($('#trackable_item').prop('checked')) {
                        $('.trackable_item').show();
                        $('#purchase_information').attr('disabled', 'disabled');
                        $('#sales_information').attr('disabled', 'disabled');
                    } else {
                        $('.trackable_item').hide();
                        $('#purchase_information').removeAttr('disabled');
                        $('#sales_information').removeAttr('disabled');
                    }

                    // Trackable item checkbox click event
                    $('#trackable_item').click(function () {
                        if ($(this).prop('checked')) {
                            $('#purchase_information').attr('disabled', 'disabled');
                            $('#sales_information').attr('disabled', 'disabled');
                            $('.trackable_item').show();
                        } else {
                            $('#purchase_information').removeAttr('disabled');
                            $('#sales_information').removeAttr('disabled');
                            $('.trackable_item').hide();
                        }
                    });

                    // Purchase information checkbox click event
                    $('#purchase_information').click(function () {
                        if ($(this).prop('checked')) {
                            $('.purchase_information').show();
                        } else {
                            $('.purchase_information').hide();
                        }
                    });

                    // Sales information checkbox click event
                    $('#sales_information').click(function () {
                        if ($(this).prop('checked')) {
                            $('.sales_information').show();
                        } else {
                            $('.sales_information').hide();
                        }
                    });

                    // Tax type change event
                    $('#tax_type').change(function () {
                        var $tax_type = $('#tax_type').val();
                        if ($tax_type == 'Taxable') {
                            $('.instrastate_gst').show();
                            $('.insterstate_gst').show();
                        } else {
                            $('.instrastate_gst').hide();
                            $('.insterstate_gst').hide();
                        }
                    });

                    // Trigger change event on page load to handle default state
                    $('#purchase_information').trigger('click');
                    $('#sales_information').trigger('click');
                    $('#tax_type').trigger('change');
                });
            </script>
            <script>
                document.getElementById('sales_information').addEventListener('change', function () {
                    document.querySelectorAll('.sales_information').forEach(function (element) {
                        element.classList.toggle('hidden', !this.checked);
                    }, this);
                });

                document.getElementById('purchase_information').addEventListener('change', function () {
                    document.querySelectorAll('.purchase_information').forEach(function (element) {
                        element.classList.toggle('hidden', !this.checked);
                    }, this);
                });

                // Utility function to handle validation and display errors
                function validateField(field, errorMessageId, condition) {
                    if (condition) {
                        field.classList.add('is-invalid');
                        document.getElementById(errorMessageId).style.display = 'block';
                    } else {
                        field.classList.remove('is-invalid');
                        document.getElementById(errorMessageId).style.display = 'none';
                    }
                }

                // Validate fields live
                function attachValidationLive() {
                    const form = document.getElementById('inventory_form');

                    // Check Item Description
                    const nameField = form.querySelector('#name');
                    nameField.addEventListener('input', function () {
                        validateField(nameField, 'inventory_name_error', !nameField.value.trim());
                    });

                    // Check Item Code
                    const itemCodeField = form.querySelector('#item_code');
                    itemCodeField.addEventListener('input', function () {
                        validateField(itemCodeField, 'item_code_error', !itemCodeField.value.trim());
                    });

                    // Check Unit
                    const unitField = form.querySelector('#unit');
                    unitField.addEventListener('change', function () {
                        validateField(unitField, 'unit_error', !unitField.value);
                    });



                    // Add similar event listeners for other fields as needed
                }

                // Attach validation on page load
                attachValidationLive();

                document.getElementById('inventory_form').addEventListener('submit', function (event) {
                    let form = event.target;
                    let isValid = true;

                    // Check all fields before submitting
                    const nameField = form.querySelector('#name');
                    const itemCodeField = form.querySelector('#item_code');
                    const unitField = form.querySelector('#unit');

                    validateField(nameField, 'inventory_name_error', !nameField.value.trim());
                    validateField(itemCodeField, 'item_code_error', !itemCodeField.value.trim());
                    validateField(unitField, 'unit_error', !unitField.value);

                    isValid = !document.querySelectorAll('.is-invalid').length;

                    if (!isValid) {
                        event.preventDefault();
                    }
                });
            </script>
            {% endblock custom_js %}