{% extends 'dashboard/base_template.html' %}
{% block title %}
crm
{% endblock %}

{% block custom_css %}

<style>
    /* Inactive tab styles */
    .nav-tabs.nav-tabs-bottom .nav-item .nav-link {
        color: #ccc;
        /* Faint gray color for inactive tabs */
    }

    /* Active tab style */
    .nav-tabs.nav-tabs-bottom .nav-item .nav-link.active {
        color: #000;
        /* Black color for active tab */
    }
</style>
{% endblock custom_css %}

{% block main_content %}
<div class="row" style="padding-left: 8%; ">
    <div class="col-sm-12">
        <!-- <h3 class="page-title"> <a href="{% url 'inventory_list_data' %}" style="margin-right: 10px;"><i
                 class="fa fa-arrow-left" data-bs-toggle="tooltip" title="" data-bs-original-title="Back"
                 aria-label="fa fa-arrow-left"></i></a>Inventory List</h3> -->
                 <h3 class="page-title"> <a href="#" onclick="history.back()" style="margin-right: 10px;"><i
                    class="fa fa-arrow-left" data-bs-toggle="tooltip" title="" data-bs-original-title="Back"
                    aria-label="fa fa-arrow-left"></i></a>Inventory List</h3>
     </div>
    <div class="col-md-12">
        <div class="card bg-white">
            <div class="card-header">
                <h5 class="card-title">{{inventory_entity_data.inventory_name}}</h5>
            </div>
<div class="d-flex justify-content-end mb-3">
    <a href="?download_csv=1" class="btn btn-sm btn-primary me-2">Download CSV</a>
    <a href="?download_excel=1" class="btn btn-sm btn-success">Download Excel</a>
</div>

            <div class="card-body">
                <ul class="nav nav-tabs nav-tabs-solid">
                    <li class="nav-item"><a class="nav-link active" href="#bottom-tab1"
                            data-bs-toggle="tab">Overview</a></li>
                    <li class="nav-item"><a class="nav-link" href="#bottom-tab2" data-bs-toggle="tab">Sales</a></li>
                    <li class="nav-item"><a class="nav-link" href="#bottom-tab3" data-bs-toggle="tab">Purchase</a></li>
                    <li class="nav-item"><a class="nav-link" href="#bottom-tab4" data-bs-toggle="tab">Sales/Purchase</a></li>

                </ul>
                <div class="tab-content ">

                    <div class="tab-pane  active show mylab" id="bottom-tab1">

                        <div class="row" ng-if="item.sales">
                            <div class="col-md-12"> <b>Basic Information</b> </div>
                        </div>
                        <div class="row">
                            <div class="col-md-8 col-sm-8 col-xs-12">
                                <div class="form-group row">
                                    <label class="col-md-4 col-sm-4 col-xs-4 ml-10 control-label">Unit</label>
                                    <label class="col-md-6 col-sm-6 col-xs-6 control-label">{{ inventory_entity_data.units }}</label>
                                </div>
                                <div class="form-group row">
                                    <label class="col-md-4 col-sm-4 col-xs-4 ml-10 control-label">Type</label>
                                    <label class="col-md-6 col-sm-6 col-xs-6 control-label">{{ inventory_entity_data.type }}</label>
                                </div>
                                {% if gstEnabled and inventory_entity_data.type == 'Goods' %}
                                <div class="form-group row">
                                    <label class="col-md-4 col-sm-4 col-xs-4 ml-10 control-label">HSN</label>
                                    <label class="col-md-6 col-sm-6 col-xs-6 control-label">{{ inventory_entity_data.hsn }}</label>
                                </div>
                                {% endif %}
                                {% if gstEnabled %}
                                <div class="form-group row">
                                    <label class="col-md-4 col-sm-4 col-xs-4 ml-10 control-label">Tax Type</label>
                                    <label class="col-md-6 col-sm-6 col-xs-6 control-label">{{ inventory_entity_data.tax_type }}</label>
                                </div>
                                {% endif %}
                                {% if gstEnabled and inventory_entity_data.intrastate_gst %}
                                <div class="form-group row">
                                    <label class="col-md-4 col-sm-4 col-xs-4 ml-10 control-label">Intrastate GST</label>
                                    <label class="col-md-6 col-sm-6 col-xs-6 control-label">{{ inventory_entity_data.intrastate_gst }}</label>
                                </div>
                                {% endif %}
                                {% if gstEnabled and inventory_entity_data.interstate_gst %}
                                <div class="form-group row">
                                    <label class="col-md-4 col-sm-4 col-xs-4 ml-10 control-label">Interstate GST</label>
                                    <label class="col-md-6 col-sm-6 col-xs-6 control-label">{{ inventory_entity_data.interstate_gst }}</label>
                                </div>
                                {% endif %}
                            </div>
                            <div class="col-md-offset-1 col-md-3 col-sm-4 col-xs-6" ng-show="item.is_trackable">
                                <div class="form-group row highlight">
                                    <div class="col-md-12 head text-center"> Opening Stock </div>
                                    <div class="col-md-12 sub-head text-center">{{ opening_stock_quantity|floatformat:2 }}</div>
                                </div>
                                <br>
                                <div class="form-group row highlight">
                                    <div class="col-md-12 head text-center"> Available QTY</div>
                                    <div class="col-md-12 sub-head text-center">{{ inventory_entity_data.available_stock_quantity|floatformat:2 }}</div>
                                </div>
                            </div>
                        </div>
                        
                        <div class="row" ng-if="item.sales">
                            <br>
                            <div class="col-md-12"> <b>Sales Information</b> </div>
                        </div>
                        <div class="row" ng-if="{{ inventory_entity_data.sales }}">
                            <div class="col-md-8 col-sm-8 col-xs-12">
                                <div class="form-group row">
                                    <label class="col-md-4 col-sm-4 col-xs-4 ml-10 control-label">Account</label>
                                    <label class="col-md-6 col-sm-6 col-xs-6 control-label">{{ inventory_entity_data.sales }}</label>
                                </div>
                                <div class="form-group row">
                                    <label class="col-md-4 col-sm-4 col-xs-4 ml-10 control-label">Rate</label>
                                    <label class="col-md-6 col-sm-6 col-xs-6 control-label">{{ inventory_entity_data.sales_rate }}</label>
                                </div>
                            </div>
                        </div>
                        

                        <div class="row" ng-if="item.purchase">
                            <br>
                            <div class="col-md-12"> <b>Purchase Information</b> </div>
                        </div>
                        <div class="row" ng-if="{{ inventory_entity_data.purchase }}">
                            <div class="col-md-8 col-sm-8 col-xs-12">
                                <div class="form-group row"> <label
                                        class="col-md-4 col-sm-4 col-xs-4 ml-10 control-label">Account</label> <label
                                        class="col-md-6 col-sm-6 col-xs-6 control-label">{{ inventory_entity_data.purchase }}</label>
                                    
                                </div>
                                <div class="form-group row"> <label
                                        class="col-md-4 col-sm-4 col-xs-4 ml-10 control-label">Rate</label>
                                    <label class="col-md-6 col-sm-6 col-xs-6 control-label">{{ inventory_entity_data.purchase_rate }}</label>
                                </div>

                            </div>
                        </div>

              


                    </div>

                    <div class="tab-pane" id="bottom-tab2">
                        <table class="invoice-table table table-center mb-0">
                            <thead>
                                <tr>
                                    <th>Date</th>
                                    <th>Voucher </th>
                                    <th>Invoice No</th>
                                    <th>Customer</th>
                                    <th>Quantity</th>
                                    <th>Unit</th>
                                    <th>Rate</th>
                                    <th>Discount</th>
                                </tr>
                            </thead>
                            <tbody>
                                {% for data in invoice_data %}
                                
                                <tr>
                                    <td>{{ data.invoice.invoice_date|date:"d-m-Y"  }}</td>
                                    <td>Invoice</td>
                                    <td><a href="{% url 'edit_invoice' id=data.invoice.id %}">{{ data.invoice.inv_number }}</a></td>
                                    <td>{{ data.invoice.invoice_customer_name_customer.customer }}</td>
                                    <td>{{ data.total_quantity_used|floatformat:2 }}</td>
                                    <td>{{ data.unit }}</td>
                                    <td>{{ data.average_rate|floatformat:2 }}</td>
                                    <td>{{ inventory_entity_data.default_discount|floatformat:2 }}</td>
                                </tr>

                                {% endfor %}
                                <tr>
                                    <td><b>Total</b></td>
                                    <td></td>
                                    <td></td>
                                    <td></td>
                                    <td style="text-align: left;"><b>{{total_quantity}}</b></td>
                                    <td></td>
                                    <td></td>
                                    <td class="text-end"></td>
                                 </tr>
                            </tbody>                        
                        </table>
                    </div>

                    <div class="tab-pane" id="bottom-tab3">
                        <table class="invoice-table table table-center mb-0">
                            <thead>
                                <tr>
                                    <th>Date</th>
                                    <th>Voucher </th>
                                    <th>Purchase Invoice No</th>
                                    <th>Vendor Name</th>
                                    <th>Quantity</th>
                                    <th>Unit</th>
                                    <th>Rate</th>
                                </tr>
                            </thead>
                            <tbody>
                                {% for item in purchase_invoice_data %}
                                <tr>
                                    <!-- <td>{{ item.invoice_date }}</td> -->
                                    <td>{{ item.invoice_date|date:"d-m-Y" }}</td>

                                    <td>{{ item.voucher }}</td>
                                    <td><a href="{% url 'edit_purchase_invoice' id=item.purchase_invoice.id %}">{{ item.purchase_invoice.purchase_invoice_PO_no }} </a></td>
                                    <td>{{ item.vendor.company_name }}</td>
                                    <td>{{ item.quantity|floatformat:2 }}</td>
                                    <td>{{ item.unit }}</td>
                                    <td>{{ item.rate|floatformat:2}}</td>
                                </tr>

                                {% endfor %}
                                <tr>
                                    <td><b>Total</b></td>
                                    <td></td>
                                    <td></td>
                                    <td></td>
                                    <td><b>{{purchase_total_quantity}}</b></td>
                                    <td></td>
                                    <td></td>
                                    <td class="text-end"></td>
                                 </tr>
                            </tbody>
                       </table>
                    </div>

                    <div class="tab-pane" id="bottom-tab4">
                        <table class="table table-center table-hover ">
                           <thead class="thead-light">
                              <tr>
                                 <th>Particular</th>
                                 <th>Item Description</th>
                                 <th>Date</th>
                                 <th>Invoice No</th>
                                 <th>Customer</th>
                                 <th>Rate</th>
                                 <th>Unit</th>
                                 <th>Qty</th>
                                 <th>IN </th>
                                 <th>OUT </th>
                                 <th>Balance</th>
                              </tr>
                           </thead>
<tbody>
    <tr>
        <td>Opening Stock</td>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
        <td>{{ opening_stock_quantity|floatformat:2 }}</td>
    </tr> 

    {% for data in combined_data %}
    <tr>
        <td>{{ data.particular }}</td>
        <td>
        {% if data.particular == 'Sales' and data.invoice_total == 0 %}
            Out Free
        {% elif data.particular == 'Purchase' and data.purchase_invoice_total == 0 %}
            In Free
        {% endif %}
    </td>
        <td>{{ data.date|date:"d-m-Y" }}</td>

        {# Invoice No / Bill No depending on type #}
        <td>
            {% if data.particular == "Sales" %}
                {{ data.invoice_no }}
            {% else %}
                {{ data.invoice_no }}  {# you can rename to purchase_invoice_no if needed #}
            {% endif %}
        </td>

        {# Customer or Vendor depending on type #}
        <td>
            {% if data.particular == "Sales" %}
                {{ data.customer_vendor }}  {# customer #}
            {% else %}
                {{ data.customer_vendor }}  {# vendor #}
            {% endif %}
        </td>

        <td>{{ data.rate|floatformat:2 }}</td>
        <td>{{ data.unit }}</td>
        <td>{{ data.quantity|floatformat:2 }}</td>
                {# Display IN Qty for Purchase, OUT Qty for Sales #}
                <td>
                    {% if data.particular == "Purchase" %}
                        {{ data.quantity|floatformat:2 }}
                    {% else %}
                        &nbsp;  {# empty if not Purchase #}
                    {% endif %}
                </td>

                <td>
                    {% if data.particular == "Sales" %}
                        {{ data.quantity|floatformat:2 }}
                    {% else %}
                        &nbsp;  {# empty if not Sales #}
                    {% endif %}
                </td>
        <td>{{ data.balance|floatformat:2 }}</td>
    </tr>
    {% endfor %}
</tbody>

                        </table>
                     </div>



                    <div class="tab-pane" id="bottom-tab6">
                      

                                                         
                                         </div>
                                      </div>
                                      </div>
                                      </div>
                                      <script src="https://supreenometals.olatechs.in/assets/js/jquery-3.6.0.min.js"></script>
                                      <script src="https://supreenometals.olatechs.in/assets/js/bootstrap.bundle.min.js"></script>
                                      <!-- <script src="https://supreenometals.olatechs.in/assets/js/feather.min.js"></script> -->
                                      <script src="https://supreenometals.olatechs.in/assets/plugins/slimscroll/jquery.slimscroll.min.js"></script>
                                      <script src="https://supreenometals.olatechs.in/assets/plugins/select2/js/select2.min.js"></script>
                                      <script src="https://supreenometals.olatechs.in/assets/plugins/moment/moment.min.js"></script>
                                      <script src="https://supreenometals.olatechs.in/assets/js/bootstrap-datetimepicker.min.js"></script>
                                      <!-- <script src="https://supreenometals.olatechs.in/assets/js/script.js"></script> -->
                                   </body>
                                </html>
                                
                                <script type="text/javascript">
                                   $(document).ready(function() 
                                    {
                                        var sum = 0;
                                        $(".purchase_qty").each(function()
                                        {
                                          sum += +this.value;
                                        });
                                        //alert(sum);
                                
                                        $('.total_purchase_qty').val(sum);
                                
                                        /*************************************************/
                                
                                        var sum = 0;
                                        $(".sales_qty").each(function()
                                        {
                                          sum += +this.value;
                                        });
                                        //alert(sum);
                                
                                        $('.total_sales_qty').val(sum);
                                
                                        /*************************************************/
                                    });
                                </script>

{% endblock main_content %}