{% extends 'dashboard/base_template.html' %}
{% block title %}
CRM
{% endblock %}

{% block custom_css %}


{% endblock custom_css %}

{% block main_content %}


<div class="page-wrapper" style="padding-top: 0px;">
    <div class="content container-fluid">
        <div class="page-header">
            <div class="row">
                <div class="col-sm-12">
                    <h3 class="page-title">
                        <a href="{% url 'fn_emp_salary_List' %}" style="margin-right: 10px;">
                            <i class="fa fa-arrow-left" data-bs-toggle="tooltip" title="" data-bs-original-title="Back" aria-label="fa fa-arrow-left"></i>
                        </a>
                        Add Employee
                    </h3>
                </div>
            </div>
        </div>
        <form method="POST" enctype="multipart/form-data">
            {% csrf_token %}
            <div class="row">
                <div class="col-md-12">
                    <div class="card">
                        <div class="card-body">
                            <form method="post" id="vendor_form" action="" autocomplete="off">
                                <div class="row">
                                    <div class="col-md-3">
                                        <div class="form-group">
                                        <label>Employee Name <span style="color: red;">*</span></label>
                                        <select class="form-select" name="name" id="name" required>
                                            <option value="" disabled selected>Select Employee Name</option>
                                            {% for item in employee_name %}
                                            <option value="{{ item.name }}">{{ item.name }}</option>
                                            {% endfor %}
                                             </select>
                                        </div>
                                     </div> 
                                    <div class="col-md-3">
                                        <div class="form-group">
                                        <label>CTC <span style="color: red;">*</span></label>
                                        <input type="number" class="form-control" name="ctc" id="ctc" placeholder="CTC" step="0.01" required maxlength="8">
                                    </div>
                                     </div>  
                                     <div class="col-md-3">
                                        <div class="form-group">
                                        <label>HRA <span style="color: red;">*</span></label>
                                        <input type="number" class="form-control" name="hra" id="hra" placeholder="HRA" step="0.01" required>
                                          </div>
                                    </div>
                                    <div class="col-md-3">
                                        <div class="form-group">
                                        <label>ESIC <span style="color: red;">*</span></label>
                                        <input type="number" class="form-control" name="esic" id="esic" placeholder="ESIC" step="0.01" required>
                                          </div>
                                    </div>
                                    <div class="col-md-3">
                                        <div class="form-group">
                                        <label>Basic Salary</label>
                                        <input type="number" class="form-control" name="basic_salary" id="basic_salary" placeholder="Basic Salary" step="0.01" required>
                                          </div>
                                    </div>
                                    <div class="col-md-3">
                                        <div class="form-group">
                                        <label>Conveyance allowance <span style="color: red;">*</span></label>
                                        <input type="number" class="form-control" name="conveyance_allowance" id="conveyance_allowance" placeholder="Conveyance allowance" step="0.01" required>
                                          </div>
                                    </div>
                                    <div class="col-md-3">
                                        <div class="form-group">
                                        <label>Flexible component <span style="color: red;">*</span></label>
                                        <input type="number" class="form-control" name="flexible_component" id="flexible_component" placeholder="flexible component" step="0.01" required>
                                          </div>
                                    </div>
                                    <div class="col-md-3">
                                        <div class="form-group">
                                        <label>Variable Component <span style="color: red;">*</span></label>
                                        <input type="number" class="form-control" name="variable_component" id="variable_component" placeholder="Variable component" step="0.01" required>
                                          </div>
                                    </div>
                                    <div class="col-md-3">
                                        <div class="form-group">
                                        <label>Provident Fund <span style="color: red;">*</span></label>
                                        <input type="number" class="form-control" name="provident_fund" id="provident_fund" placeholder="Provident Fund" step="0.01" required>
                                          </div>
                                    </div>
                                    <div class="col-md-3">
                                        <div class="form-group">
                                        <label>Professional Tax <span style="color: red;">*</span></label>
                                        <input type="number" class="form-control" name="professional_tax" id="professional_tax" placeholder="Professional Tax" step="0.01" required>
                                          </div>
                                    </div>
                                    <div class="col-md-3">
                                        <div class="form-group">
                                        <label>Income tax <span style="color: red;">*</span></label>
                                        <input type="number" class="form-control" name="income_tax" id="income_tax" placeholder="Income tax" step="0.01" required>
                                          </div>
                                    </div>
                                    <div class="col-md-3">
                                        <div class="form-group">
                                        <label>Other deductions <span style="color: red;">*</span></label>
                                        <input type="number" class="form-control" name="other_deductions" id="other_deductions" placeholder="Other deductions" step="0.01" required>
                                          </div>
                                    </div>
                                    <div class="col-md-3">
                                        <div class="form-group">
                                        <label>Gross salary <span style="color: red;">*</span></label>
                                        <input type="number" class="form-control" name="gross_salary" id="gross_salary" placeholder="Gross salary" step="0.01" required>
                                          </div>
                                    </div>
                                    <div class="col-md-3">
                                        <div class="form-group">
                                        <label>Total Deductions <span style="color: red;">*</span></label>
                                        <input type="number" class="form-control" name="total_deductions" id="total_deductions" placeholder="Total Deductions" step="0.01" required>
                                          </div>
                                    </div>
                                    <div class="col-md-3">
                                        <div class="form-group">
                                        <label>Net salary <span style="color: red;">*</span></label>
                                        <input type="number" class="form-control" name="net_salary" id="net_salary" placeholder="Net salary" step="0.01" required>
                                          </div>
                                    </div>
                                    <div class="col-md-3">
                                        <div class="form-group">
                                        <label>Other Allowns <span style="color: red;">*</span></label>
                                        <input type="number" class="form-control" name="other_allowns" id="other_allowns" placeholder="Other Allowns" step="0.01" required>
                                          </div>
                                    </div>
                                    <div class="col-md-3">
                                        <div class="form-group">
                                        <label>LWF</label>
                                        <input type="number" class="form-control" name="lwf" id="lwf" placeholder="LWF" step="0.01" required>
                                          </div>
                                    </div>
                                    <div class="col-md-3">
                                        <div class="form-group">
                                        <label>Days Payable <span style="color: red;">*</span></label>
                                        <input type="number" class="form-control" name="days_payable" id="days_payable" placeholder="days Payable"  required>
                                          </div>
                                    </div>
                                    <div class="col-md-3">
                                        <div class="form-group">
                                        <label>Days paid <span style="color: red;">*</span></label>
                                        <input type="number" class="form-control" name="days_paid" id="days_paid" placeholder="Days Paid" step="0.01" required>
                                          </div>
                                    </div>    
                                    <div class="col-md-3">
                                        <div class="form-group">
                                            <label for="month_input">Month <span style="color: red;">*</span></label>
                                            <input type="month" id="month_input" name="month" required>
                                        </div>
                                    </div>
                                                               
                                 
                                      

                                 
                                </div>
                                <div class="add-customer-btns text-end">
                                    <a href="{% url 'fn_emp_salary_List' %}" class="btn customer-btn-cancel btn-outline-danger me-1 btn-rounded">Cancel</a>
                                    <button type="submit" class="btn btn-outline-primary me-1 btn-rounded">Save Employee Salary</button>
                                </div>
                                <div class="row col-sm-6 p-5">
                                    <div class="success_message row"></div>
                                </div>
                            </form>
                        </div>
                    </div>
                </div>
            </div>
        </form>
    </div>
</div>



{% block custom_js %}


<!-- Add this script at the bottom of your HTML file, after the other JavaScript code -->
<script>
   document.addEventListener("DOMContentLoaded", function() {
     const gstIdInput = document.getElementById("gst_no");
     const panInput = document.getElementById("pan_no");
 
     // Function to generate PAN from GST (Assuming the format is consistent)
     function generatePAN(gstId) {
       // Extract the 3rd to 12th characters from the GST ID
       const panSubstring = gstId.substr(2, 10);
       // Append a fixed PAN suffix
       const panNumber = panSubstring;
       return panNumber;
     }
 
     gstIdInput.addEventListener("input", function() {
       const gstIdValue = this.value;
       if (gstIdValue.length >= 12) {
         const panValue = generatePAN(gstIdValue);
         panInput.value = panValue;
       } else {
         panInput.value = ''; // Clear the PAN field if the GST is not long enough
       }
     });
   });
 </script>
<script>
   document.addEventListener("DOMContentLoaded", function() {
      const gstNoInput = document.getElementById("gst_no");
      const toggleGst = document.getElementById("toggleGst");
  
      // Check if GST number is initially provided
      if (gstNoInput.value.trim() !== '') {
          // If GST number is provided, keep the toggle button "on" (clicked)
          toggleGst.checked = true;
      } else {
          // If GST number is empty, turn the toggle button "off"
          toggleGst.checked = false;
      }
  
      gstNoInput.addEventListener("input", function() {
          const gstNoValue = this.value.trim();
          if (gstNoValue !== '') {
              // If GST number is provided, keep the toggle button "on" (clicked)
              toggleGst.checked = true;
          } else {
              // If GST number is empty, turn the toggle button "off"
              toggleGst.checked = false;
          }
      });
  });
  
</script>  


</script>



<script>
  document.addEventListener("DOMContentLoaded", function() {
      const mobileInput = document.getElementById("mobile");
      const mobileError = document.getElementById("mobileError");

      mobileInput.addEventListener("input", function() {
          const mobileValue = this.value;
          const mobileRegex = /^[0-9]{10}$/; // Regular expression for a 10-digit mobile number

          if (!mobileRegex.test(mobileValue)) {
              mobileError.textContent = "Enter a valid 10-digit mobile number.";
          } else {
              mobileError.textContent = "";
          }
      });
  });
</script>

<script>
   document.addEventListener("DOMContentLoaded", function() {
       const gstNoInput = document.getElementById("gst_no");
       const gstNoError = document.getElementById("gstNoError");
 
       function validateGSTNo(gstNoValue) {
           if (gstNoValue.trim() === '') {
               return true;  // Allow empty value
           }
 
           const gstNoRegex = /^([0-9]{2}[A-Z]{5}[0-9]{4}[A-Z]{1}[1-9A-Z]{1}[Z]{1}[0-9A-Z]{1})$/; 
 
           return gstNoRegex.test(gstNoValue);
       }
 
       gstNoInput.addEventListener("input", function() {
           const gstNoValue = this.value;
 
           if (!validateGSTNo(gstNoValue)) {
               gstNoError.textContent = "Enter a valid GST number (e.g., 12ABCDE1234F1Z5).";
           } else {
               gstNoError.textContent = "";
           }
       });
   });
 </script>

{% endblock custom_js %}    
{% endblock main_content %}

    
