
<style>

@media print {
            @page {
                size: A4;
                margin: 5px;
            }

            body {
              
                font-size: 11px;
                font-family: calibri;
            }
       
        }
        
        table {
            border: 1px solid black;
            border-collapse: collapse;
            
            font-family: 'Calibri';
            line-height: 1.2;
        }
        td {
            border: 1px solid black;
            border-collapse: collapse;
            padding-left:5px;
            font-family: 'calibri';
            padding: 4px 10px;

        }

        .item_data td{
            border-bottom: none;
            border-top: none;
            height: 12px;
        }
        table.signtbl {
  width: 100%; /* Ensures the table takes full width */
  border: none;
}

table.signtbl tr td {
  padding: 2px; /* Removes padding from table cells */
  text-align: center; /* Centers text within cells */
  border: none; /* Removes borders inside the table */
}
.other_tnx td{

border-top: none;
border-bottom: none;
padding: 0;
padding-right: 5px;
}



        .pdfarea{
            padding: 100px;
            padding-top: 0px;
        }

        .custom-padding {
        padding-top: 20px; 
        padding-bottom: 37px;
    }

</style>

<body>
    
<div class="pdfarea-pdf ">
    {% for count in count_page %}
    <div style="display: flex; align-items: center; margin-top: 15px; justify-content: center;">
        <img src="../../static/assets/img/logo-png.png" style="width: 160px; margin-left: 10px; border-radius: 10px;" />
        <div style="flex-grow: 1; padding-left: 90px;">
            <span class="bold" style="font-size: 30px; ">DELIVERY CHALLAN</span>
        </div>
    </div>
    <br>
    <h2 style="text-align: center;"></h2>
        <div> 
            <table style="width: 100%;border-bottom: 0px;">
        
            <tr>
                <td rowspan="2"colspan="2"><strong class="customer-text" style="font-size: 18px; color: #000; font-weight: 600;padding-bottom:3px; display: block;">M/S KEYMECH TECHNOLOGIES<br>
                </strong>
                13, Jagdish Nagar, Jwalapur,<br>
                Haridwar,Uttarakhand-249407,<br>
                 <span class="label">GSTIN/UIN</span>: <span class="content">05AAUPG1246N1ZE</span><br>
                 <span class="label">PAN</span>: <span class="content">CVSPG7178L</span><br>
                 <span class="label">PLACE OF SUPPLY</span>: <span class="content">Uttar Pradesh,</span><br>
                 <span class="label">STATE CODE</span>: <span class="content">09</span><br>

                 <span class="label">EMAIL</span>: <span class="content">mechfrontindia@gmail.com, vibhor@mechfront.com</span><br>
                 <span class="label">CONTACT</span>: <span class="content">+91-8171467840</span><br>
                 
                 
                
                </td>
                
                <td  class="custom-padding " colspan="3" ><b>DC NO.:</b><br><span>{{dchallan.dc_number}}</span> </td>
                <td  class="custom-padding " colspan="3"  ><b>Date:</b> <br>{{ dchallan.dc_date|date:"d-m-Y" }}</td>
                
            </tr>
           
            <tr>
               
                <!-- <th colspan="3"><p style="font-size:10px;">STATE</p></th>
                            <td colspan="3">: {{dchallan.dc_supply_place}}</td> -->
                            <td class="custom-padding " colspan="3" ><b>BUYER ORDER NO.: </b><br>{{ dchallan.dc_buyer_order_no }}</td>
                            <td class="custom-padding " colspan="3" ><b>Date :</b><br>{{dchallan.dc_buyer_order_date|date:"d-m-Y"}}</td>
                       
            </tr>
            <tr>
                <td rowspan="3" colspan="2"><b> Bill To</b> <br>
                    <b>{{company_name|upper}}</b>
                     <p>{{bill_street}}, {{bill_city}}, {{bii_com_state}}, {{bill_pincode}}<br>
                         <span class="label">GSTIN/UIN</span>: <span class="content">{{bill_gst_uin}}</span><br>
                         <span class="label">STATE</span>: <span class="content">{{bii_com_state}}</span><br>
                         <span class="label">CONTACT</span>: <span class="content">{{bill_contact_number}}</span><br>

                     </p>                    </td>
                </tr>
            <tr>
                <td  colspan="3" ><b>LR No:</b><br> {{dchallan.dc_landing_LR_RR_No}}</td>
                <td colspan="3" ><b> Destination:</b> <br>{{dchallan.dc_destination}}</td>
            </tr>
            <tr>
                <td  colspan="3" ><b>Dispatched through:</b><br> {{dchallan.dc_dispatch.name}}</td>
                <td  colspan="3" style="vertical-align: top;"> <b>Mode/Terms of Payment:</b><br>{{dchallan.dc_payment_terms}}	
                </td>
            </tr>       
            <tr>
                <td colspan="2" style="border-bottom: 0px">
                   <b>SHIP TO</b><br>
                        <b>{{company_name|upper}}</b><br>
                      <p>{{shipping_1_street}}, {{shipping_1_city}}, {{shipping_1_state}}, {{shipping_1_pincode}}</p>
                          <span class="label">GSTIN/UIN</span>: <span class="content">{{shipping_1_gst_uin}}</span><br>
                          <span class="label">STATE</span>: <span class="content">{{shipping_1_state}}</span><br>
                          <span class="label">CONTACT</span>: <span class="content">{{shipping_1_contact_number}}</span><br>

                     </p><br>
                </td>
                <td colspan="6" style="vertical-align: top;"><b></b> </td>
            </tr>
              
        
            <tr>
                <!-- <td style="width:5%;" >SI No</td> -->
                <td style="width:12%;text-align: center;" >Item Code</td>
                <td style="width:46.2%;text-align: center;">Description of Goods</td>
                <td style="text-align: center;">HSN/SAC</td>
                <td style="text-align: center;">Quantity</td>
                <td style="text-align: center;">Rate</td>
                <td style="text-align: center;">Per</td>
                <td style="text-align: center;  white-space: nowrap;">Disc. %</td>
                <td style="text-align: center;">Amount</td>
            </tr>
           
{% for items in item_list %}
        {% if forloop.counter == count %}
            {% for item in items %}
                {% if item %}
<tr class="item_data">
    <!-- <td>{{ item.sr_no }}</td> -->
    <td style="width:12%;text-align: center;">{{ item.dc_item_code }}</td>
    <td>{{ item.dc_description_goods }} </td>
    <td>{{ item.dc_hsn}}</td>
    <td style="text-align: center;"> {{ item.dc_qantity}}</td></td>
    <td>  {{ item.dc_unit_price}}</td>
    <td style="text-align: center;">{{ item.dc_uom}}</td>
    <td style="text-align: center;"> {{ item.dc_discount|floatformat:0 }} %</td>
    <td style="text-align: end;">{{item.dc_total}}</td>
</tr>
{% else %}
<tr class="item_data">
   
    


</tr>
<!-- <tr class="item_data">
    <td>&nbsp;</td>
    <td>&nbsp;</td>
    <td>&nbsp;</td>
    <td>&nbsp;</td>
    <td>&nbsp;</td>
    <td>&nbsp;</td>
    <td>&nbsp;</td>
    <td>&nbsp;</td>
</tr> -->
{% endif %}
{% endfor %}
{% endif %}
{% endfor %}
<tr class="other_tnx">
    <td ></td>
    <td style="text-align: end;">IGST</td>
    <td > <br><br></td>
    <td ></td>
    <td ></td>
    <td ></td>
    <td ></td>
    <td style="text-align: end;">{{dchallan.dc_igstval}}</td>
</tr>
<tr class="other_tnx">
    <td ></td>
    <td style="text-align: end;">CGST</td>
    <td > <br><br></td>
    <td ></td>
    <td ></td>
    <td ></td>
    <td ></td>
    <td style="text-align: end;">{{dchallan.dc_cgstval}}</td>
</tr>
<tr class="other_tnx">
    <td ></td>
    <td style="text-align: end;">SGST</td>
    <td > <br><br></td>
    <td ></td>
    <td ></td>
    <td ></td>
    <td ></td>
    <td style="text-align: end;">{{dchallan.dc_sgstval}}</td>
</tr>
{% if dchallan.dc_packaging_forwording_percentage_amt != '0.00' %}

<tr class="other_tnx">
    <td ></td>
    <td style="text-align: end;">PACKAGING & FORWORDING ({{ dchallan.dc_packaging_forwording_percentage }}%) <br> (Including GST)</td>
    <td > <br><br></td>
    <td ></td>
    <td ></td>
    <td ></td>
    <td ></td>
    <td style="text-align: end;">{{ dchallan.dc_packaging_forwording_percentage_amt }}</td>
</tr>
{% elif dchallan.dc_packaging_forwording_amt_amt != '0.00' and dchallan.dc_packaging_forwording_amt_amt != '0' %}

<tr class="other_tnx">
    <td ></td>
    <td style="text-align: end;">PACKAGING & FORWORDING <br> (Including GST)</td>
    <td > <br><br></td>
    <td ></td>
    <td ></td>
    <td ></td>
    <td ></td>
    <td style="text-align: end;">{{ dchallan.dc_packaging_forwording_amt_amt }}</td>
</tr>
{% endif %}

{% if dchallan.dc_freight_amt_amt != '0.00' and dchallan.dc_freight_amt_amt != 'NaN' %}

<tr class="other_tnx">
    <td ></td>
    <td style="text-align: end;">FREIGHT <br> (Including GST)</td>
    <td > <br><br></td>
    <td ></td>
    <td ></td>
    <td ></td>
    <td ></td>
    <td style="text-align: end;">{{ dchallan.dc_freight_amt_amt }}</td>
</tr>
{% elif dchallan.dc_freight_percentage_amt != '0.00' and dchallan.dc_freight_percentage_amt != '0' %}

<tr class="other_tnx">
    <td ></td>
    <td style="text-align: end;">FREIGHT ({{ dchallan.dc_freight_percentage }}%) <br> (Including GST)</td>
    <td > <br><br></td>
    <td ></td>
    <td ></td>
    <td ></td>
    <td ></td>
    <td style="text-align: end;">{{ dchallan.dc_freight_percentage_amt }}</td>
</tr>
{% endif %}

            <tr>
                <td></td>
                <td style="text-align: center;">Total</td>
                <td></td>
                <td style="text-align: center;"> {{total_quantity}}</td>
                <td></td>
                <td></td>
                <td></td>
                <td style="text-align: end; white-space: nowrap;">₹{{ dchallan.dc_total }}</td>
            </tr>
            <tr>
                <td colspan="7" >Amount Chargeable (in words)- Indian Rupees {{ dchallan.totalamt_word }} </td>
                <td style="text-align: end;">E. & O.E</td>
            </tr>
            <tr>
                <td rowspan="2" style="text-align: center;">HSN/SAC</td>
                <td rowspan="2" style="text-align: center;">Taxable Value</td>
        
                <td colspan="2" style="text-align: center;">IGST</td>
        
                <td colspan="2" style="text-align: center;">CGST</td>
        
                <td colspan="2" style="text-align: center;">SGST</td>
            </tr>
        
            <tr>
                <!-- IGST Rate and Amount -->
                <td style="text-align: center;">Rate</td>
                <td style="text-align: center;">Amount</td>
        
                <!-- Central Tax Rate and Amount -->
                <td style="text-align: center;">Rate</td>
                <td style="text-align: center;">Amount</td>
        
                <!-- State Tax Rate and Amount -->
                <td style="text-align: center;">Rate</td>
                <td style="text-align: center;">Amount</td>
            </tr>
        
            {% for detail in items %}
            <tr>
                <!-- HSN and Taxable Value -->
                <td style="text-align: center;">{{ detail.dc_hsn }}</td>
                <td style="text-align: center;">{{ detail.dc_total }}</td>
        
                <!-- If Interstate (IGST applies) -->
                {% if dchallan.gst_option == 'Interstate' %}
                <td style="text-align: center;">{{ detail.half_tax_amount|floatformat:0  }} %</td>
                <td style="text-align: center;">{{ detail.dc_tax_amount|floatformat:2 }}</td>
        
                <!-- Central and State Tax (for IGST, set to 0) -->
                <td style="text-align: center;">0 %</td>
                <td style="text-align: center;">0.00</td>
                <td style="text-align: center;">0 %</td>
                <td style="text-align: center;">0.00</td>
        
                <!-- If Intrastate (CGST and SGST apply) -->
                {% else %}
                <td style="text-align: center;">0 %</td> <!-- IGST is 0 for Intrastate -->
                <td style="text-align: center;">0.00</td>
        
                <!-- Central Tax (CGST) -->
                <td style="text-align: center;">{{ detail.half_tax_rate|floatformat:0  }} %</td>
                <td style="text-align: center;">{{ detail.half_tax_amount|floatformat:2 }}</td>
        
                <!-- State Tax (SGST) -->
                <td style="text-align: center;">{{ detail.half_tax_rate|floatformat:0  }} %</td>
                <td style="text-align: center;">{{ detail.half_tax_amount|floatformat:2 }}</td>
                {% endif %}
            </tr>
            {% endfor %}
            <tr>
                <td style="text-align: center;">TOTAL</td>
                <td style="text-align: center;">{{ i_total_amount|floatformat:2 }}</td>
                <td style="text-align: center;">-</td>
                
                <!-- IGST for Interstate -->
                {% if dchallan.gst_option == 'Interstate' %}
                <td style="text-align: center;">{{ dchallan.dc_igstval|floatformat:2 }}</td>
                <td style="text-align: center;">-</td>

                <td style="text-align: center;">0.00</td> <!-- CGST not applicable -->
                <td style="text-align: center;">-</td>

                <td style="text-align: center;">0.00</td> <!-- SGST not applicable -->
                
                <!-- CGST and SGST for Intrastate -->
                 
                {% else %}
                
                <td  style="text-align: center;">0.00</td> <!-- SGST not applicable -->
                <td style="text-align: center;">-</td>
                <td style="text-align: center;">{{ dchallan.dc_cgstval|floatformat:2 }}</td>
                <td style="text-align: center;">-</td> <!-- IGST not applicable -->
                <td style="text-align: center;">{{ dchallan.dc_sgstval|floatformat:2 }}</td>
                {% endif %}
            </tr>
 
        <!-- <tr>
            <td rowspan="2" style="text-align: center;" >HSN/SAC</td>
            <td rowspan="2" style="text-align: center;" >Taxable Value</td>
            <td colspan="3" style="text-align: center;" >Central Tax</td>
            <td colspan="3"style="text-align: center;" >State Tax</td>
    
    
        </tr>
         <tr>
                <td style="text-align: center;">Rate</td>
                <td colspan="2" style="text-align: center;" >Amount</td>
    
                <td style="text-align: center;">Rate</td>
                <td colspan="2" style="text-align: center;">Amount</td>
    
    
        </tr>
        {% for detail in items %}

        <tr>
            <td style="text-align: center;">{{ detail.dc_hsn }}</td>
            <td style="text-align: center;">{{ detail.dc_total }}</td>
            {% if dchallan.gst_option == 'Interstate' %}
            <td style="text-align: center;">{{ detail.half_tax_rate }}</td>
            <td colspan="2" style="text-align: center;">{{ detail.dc_tax_amount|floatformat:2 }}</td>
            <td style="text-align: center;">0.0</td>
            <td colspan="2" style="text-align: center;">0.0</td>
            {% else %}
            <td style="text-align: center;">{{ detail.half_tax_rate }}</td>
            <td colspan="2" style="text-align: center;">{{ detail.half_tax_amount|floatformat:2 }}</td>
            <td style="text-align: center;">{{ detail.half_tax_rate }}</td>
            <td colspan="2" style="text-align: center;">{{ detail.half_tax_amount|floatformat:2 }}</td>
            {% endif %}
        </tr>
        {% endfor %} -->
        <!-- <tr>
                <td style="  text-align: center;">TOTAL</td>
                <td style="  text-align: center;">{{ i_total_amount|floatformat:2 }}</td>
                <td style="text-align: center;">-</td>
                {% if dchallan.gst_option == 'Interstate' %}
                <td colspan="2" style="  text-align: center;">{{ dchallan.dc_igstval|floatformat:2 }}</td>
                {% else %}
                <td colspan="2" style="  text-align: center;">{{ dchallan.dc_cgstval|floatformat:2 }}</td>
                {% endif %}

                <td style="text-align: center;">-</td>
                {% if dchallan.gst_option == 'Interstate' %}
                <td colspan="2" style="  text-align: center;">0.0</td>
                {% else %}
                <td colspan="2" style="  text-align: center;">{{ dchallan.dc_sgstval|floatformat:2 }}</td>
                {% endif %}
            </tr> -->
    
            <tr>
                <td colspan="8"style="font-size: 10px;"
                    >
                <b>TERMS AND CONDITIONS:</b><br>
                    {{dchallan.dc_note}}

                </td>
            </tr>
        <tr>
            <!-- <td colspan="8"  style="border-bottom: 0px;border-right: 0px;">Tax Amount (in words) :
                <span > Indian Rupees {{total_amount_in_words}}</span>
            </td> -->
        </tr>
            <tr>
                <td colspan="2" style=" border-top: 0px;border-right: 0px;border-bottom: 0px;"><b> Remarks:</b><br>
                    <span ></b>Company's PAN </b>: CVSPG7178L</span>
    
                </td>
                <td colspan="6" style="border-top: 0px;border-left: 0px;border-bottom: 0px;">Company's Bank Details<br>
                    <span ><b>Bank Name</b>  <span style="margin-left: 37px;">: Axis Bank Limited</span><br>
                    <span ><b>A/c No.</b> <span style="margin-left: 58px;"> : 919020042164019 </span><br>
                    <span ><b>Branch & IFS Code  </b>  : Sector-62, Noida-201301, Uttar Pradesh & UTIB0000723</span>
                </td>
            </tr>
    
    
        
                <tr>
                    <td colspan="2" style=" border-top: 0px;"><u><b> Declaration</b></u><br>
                        1. We declare that this dc challan shows the actual price of the 
                        goods described and that all particulars are true and correct<br>
                        2 We declare that the above material are covered under <br>
                        subject to Terms & condition of Transit Policy No. 2001/348061179/00/000 valid up to 17.06.2025
                    </td>
                    <td colspan="6" style="padding: 0;">
                        <table class="signtbl">
                            <tr>
                                <td colspan="3"><p style="text-align: end;"><br></p></td>
                            </tr>
                            <tr style="height: 20px;">
                                <td colspan="3"></td>
                            </tr>
                            <tr>
                                <td><b > Prepared by</b></td>
                                <td> <b >Verified by</b></td>
                                <td> <b >Authorised Signatory</b></td>
                            </tr>
                        </table>
                    </td>
                </tr>
              
        </table>
      <div>
      <div style=" text-align: center;">
        <span >SUBJECT TO NOIDA JURISDICTION </span> |<span>This is a Computer Generated Invoice </span>
          
      </div>
       </div>
    
</div>
{% endfor %} 
</div>
</body> 